// main: ./GDSA.less
.GDSA.sheet.characterSheet {
    .sheet{
        width: 620px;
        height: 765px;
        font-family: MasonSerifBold;
    };
    .logoImg{
        height: 46px;
        border: 0px;
    };
    .editableValue{
        background-color: rgba(255,255,255,0.45);
    };
    .plusSym{
        font-size: 15px;
        padding-top: 3px;
    };
    .plusSym2{
        font-size: 20px;
        padding-top: 1px;
        margin-left: 10px;
    };
    .inTableSym{
        font-size: 12px;
        padding-top: 3px;
    };
    .faD20Stat{
        float: none;
    };
    .nav{
        display: contents;
    };
    .menuBar{
        width: 616px;
        height: 60px;        
        border: 2px solid black;
    };
    .menuDivider{
        width: 156px;
        height: 60px;
        float: left;
        text-align: center;
    };
    .menuDividerHelper{
        width: 100%;
        height: 38px;
        float: left;
    };
    .menuItem{
        width: 76px;
        height: 40px;    
        border: 2px transparent;
        // background: darkgoldenrod;
        float: left;
        text-align: center;
    };
    .item.active > .menuItem{
        // background: rgba(184 134 11 / 44%);
    };
    .item:hover > .menuItem{
        background: rgba(0 0 0 / 3%);
    };
    .menuItemHelper{
        width: 100%;
        height: 10px;
        float: left;
    };
    .menuItemBox{
        width: 228px;
        height: 60px;
        float: left;
    };
    .menuItemBoxHelper{
        width: 100%;
        height: 20px;
        float: left;
    };
    .filler{
        width: 616px;
        height: 15px;
    };
    .fillerHead{
        width: 616px;
        height: 20px;
    };
    .infoBox{
        width: 616px;
        height: 221px;
    };
    .infoDivider{
        width: 10px;
        height: 221px;
        float: left;
    };
    .imgBox{
        width: 177px;
        height: 221px;
        border: 2px solid black;
        float: left;
        text-align: center;
    };
    .img{
        max-height: 100%;
        max-width: 100%;
    }
    .factBox{
        width: 429px;
        height: 221px;
        border: 2px solid black;
        float: left;
        text-align: center;
        padding-top: 5px;
    };
    .factType{
        width: 132px;
        float: left;
        text-align: left;
        padding-left: 18px;
    };
    .factValue{
        width: 290px;
        float: left;
        text-align: left;
    };
    .factDivider{
        margin-top: 2px;
        margin-bottom: 3px;
    };
    .flawhead{
        width: 275px;
        height: 20px;
        text-align: center;
        font-size: 20px;
        float: left;
    };
    .flawbnt{
        width: 20px;
        height: 20px;
        text-align: center;
        font-size: 20px;
        float: left;
    };
    .flaw{
        width: 295px;
        height: 20px;
        text-align: left;
        padding-left: 10px;
    };
    .flawhr{
        margin-top: 2px;
        margin-bottom: 2px;
    };
    .flawhrbox{
        width: 300px;
        float: left;
    };
    .flawBox{
        width: 303px;
        height: 196px;
        border: 2px solid black;
        float: left;
        text-align: center;
    };
    .flawDivider{
        width: 10px;
        height: 196px;
        float: left;
    };
    .advantages{
        float: left;
        overflow-y: scroll;
        height: 165px;
    };
    .valueBox{
        width: 616px;
        height: 200px;
    };
    .valueBox1{
        width: 262px;
        height: 200px;
        border: 1px solid black;
        float: left;
        text-align: center;
    };
    .valueBox2{
        width: 342px;
        height: 200px;
        border: 1px solid black;
        float: left;
        text-align: center;
    };
    .smallValueBox{
        width: 40px;
        height: 20px;
        float: left;
        text-align: center;
        border: 1px solid black;
        padding-top: 1px;
    };
    .bigValueBox{
        width: 140px;
        height: 20px;
        float: left;
        text-align: left;
        border: 1px solid black;
        padding-left: 12px;
    };
    .valueHead{
        font-size: 0.7rem;
        padding-top: 2px;
    };
    .valueDivider{
        width: 12px;
        height: 200px;
        float: left;
        text-align: center;
    };
    .footer{
        width: 616px;
        height: 20px;
        border: 2px solid black;
        float: left;
        text-align: center;
    };
    .footerBox{
        width: 616px;
        height: 20px;
    };
    .footerSmall{
        width: 110px;
        height: 20px;
        float: left;
        text-align: center;  
    };
    .footerBig{
        width: 70px;
        height: 20px;
        float: left;
        text-align: center;  
    };
    .footerFirst{
        width: 165px;
        height: 20px;
        float: left;
        text-align: left;
        padding-left: 40px;  
    };
    .gmBox{
        float: left;
        height: 686px;
        width: 100%;
    };
    .gmTableHelper{
        width: 220px;
    };
    .gmInput{
        width: 395px;
    };
    .statTemp{
        border: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
    };
    .SkillFiller{
        width: 620px;
        height: 10px;
    };
    .skillMenu{
        height: 23px;
        border: 1px solid black;
        display: inline-block;
        text-align: center;
        padding-top: 2px;
    };
    .skillMenuBox{
        width: 620px;
        height: 28px;
        text-align: center;
    };
    .skillsBox{
        width: 620px;
        height: 607px;
        text-align: center;
    };
    .skillTableNameCombat{
        width: 394px;
        text-align: left;
        border: 1px solid black;
        padding-left: 10px;
    };
    .skillTableName{
        width: 454px;
        text-align: left;
        border: 1px solid black;
        padding-left: 10px;
    };
    .skillTableNameBig{
        width: 514px;
        text-align: left;
        border: 1px solid black;
        padding-left: 10px;
    };
    .skillTableBE{
        width: 65px;
        text-align: center;
        border: 1px solid black;
        padding: 0px;
    };
    .skillTableValue{
        width: 50px;
        text-align: center;
        border: 1px solid black;
        padding: 0px;
    };
    .skillTableFiller{
        width: 5px;
        text-align: center;
        border: 1px solid black;
        padding: 0px;
    };
    .skillTableRoll{
        width: 50px;
        text-align: center;
        border: 1px solid black;
    };
    .skillTemp{
        border: 0px;
        padding: 0px;
        width: 100%;
        height: 24px;
        background-color: rgba(255,255,255,0.45);
    };
    .langbox{
        width: 100%;
        height: 310px;
    };
    .langtext{
        float: left;
        width: 570px;
        text-align: left;
        padding-left: 10px;
        padding-top: 9px;
        font-size: 19px;
    };
    .langbnt{
        float: left;
        height: 20px;
        padding-top: 10px;
        width: 50px;
    };
    .langhr{
        float: left;
        height: 2px;
        width: 100%;
        margin-bottom: 0px;
    };
    .langtab{       
        height: 255px;
        width: 620px;
        float: left;
        overflow-x: scroll;
    };
    .skillHeaderBox{
        width: 620px;
        height: 40px;
        text-align: center;
    };
    .skillHeaderSkillBox{
        width: 392px;
        height: 40px;
        display: inline-block;
        margin: auto;
    };
    .skillHeaderSkillBox2{
        width: 500px;
        height: 22px;
        margin: auto;
        border: 2px solid black;
        display: inline-block;
        margin: auto;
    };
    .skillHeaderSkillBox3{
        width: 500px;
        height: 22px;
        margin: auto;
        border: 2px solid black;
        float: left;
    };
    .skillHeaderFiller{
        width: 4px;
        height: 40px;
        float: left;
    };
    .skillHeaderStat{
        width: 40px;
        height: 38px;
        border: 1px solid black;
        float: left;
        text-align: center;
    };
    .woundChart{
        float: left;
        height: 375px;
        width: 190px;
        background-image: url("templates/img/shape.png");
        background-size: cover;
        border: 2px solid black;
        background-position-x: -43px;
        background-repeat: no-repeat;
        background-color: rgba(0,0,0,0.25);
    };
    .RSBox{
        float: left;
        height: 25px;
        width: 25px;
        background-color: lightgrey;
        padding-top: 4px;
    };
    .RSHelper1{
        float: left;
        height: 20px;
        width: 100%;
    };
    .RSHelper2{
        float: left;
        height: 40px;
        width: 63px;
    };
    .RSBoxHelper1{
        float: left;
        height: 40px;
        width: 65px;
    };
    .RSBoxHelper2{
        float: right;
        height: 60px;
        width: 25px;
    };
    .RSBoxHelper3{
        float: right;
        height: 70px;
        width: 65px;
    };
    .RSBoxHelper4{
        float: right;
        height: 40px;
        width: 65px;
    };
    .RSHelper3{
        float: left;
        height: 25px;
        width: 20px;
    };
    .RSHelper4{
        float: left;
        height: 40px;
        width: 40px;
    };
    .RSHelper5{
        float: left;
        height: 175px;
        width: 49px;
    };
    .RSHelper6{
        float: left;
        height: 70px;
        width: 93px;
    };
    .RSHelper7{
        float: left;
        height: 175px;
        width: 79px;
    };
    .RSHelper8{
        float: right;
        height: 20px;
        width: 79px;
    };
    .RSHelper9{
        float: right;
        height: 30px;
        width: 79px;
    };
    .RSHelper10{
        float: left;
        height: 175px;
        width: 35px;
    };
    .RSHelper11{
        float: left;
        height: 90px;
        width: 71px;
    };
    .RSHelper12{
        float: left;
        height: 20px;
        width: 71px;
    };
    .RSHelper13{
        float: left;
        height: 90px;
        width: 71px;
    };
    .RSHelper14{
        float: left;
        height: 20px;
        width: 71px;
    };
    .WPBox1{
        float: left;
        height: 18px;
        width: 65px;
    };
    .WPBox2{
        float: left;
        height: 50px;
        width: 25px;
    };
    .wp{
        color: lightgrey;
        font-size: 11px;
    };
    .headerLable{
        float: left;
        height: 18px;
        width: 76px;
    };
    .headerValue{
        float: left;
        height: 18px;
        width: 47px;
    };
    .lepbar{
        position: relative;
        width: 500px;
        height: 20px;
        background: #9cbab4;
        border-radius: 5px;
        overflow: hidden;
        display: inline-block;
    };      
    .lepbar_fill{
        width: 0%;
        height: 100%;
        background: #009579;
        transition: all 0.2s;
    };
    .lepbar_text{
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translateY(-50%);
        font: bold 14px "Quicksand", sans-serif;
        color: #ffffff;
    };
    .combatWindow{     
        width: 415px;
        height: 376px;
        float: left;
        margin-left: 10px;
    };
    .invFiller{
        width: 100%;
        height: 30px;
    };  
    .inventory{
        width: 100%;
        height: 640px;        
        padding-left: 20px;
    };
    .invItem{        
        border: 1px solid black;
        padding-left: 40px;
        height: 41px;
        padding-top: 1px;
        width: 580px;
        position: relative;
    };
    .invAddBox{
        width: 20px;
        height: 20px;
        margin-left: 12px;
        float: left;
    };
    .invMenuHelper{
        height: 22px;
        width: 550px;
        display: inline-block;
    };
    .inv-create > nav#context-menu{
        left: -180px;
        top: 5px;
        width: 200px;
    };
    .itemImgBox{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 4px;
        left: 4px;
    };
    .itemImg{
        width: 30px;
        height: 30px;
    };
    .invtableborder{
        width: 580px;
        border: 1px solid black;
    };
    .moneylable{
        font-size: 12px;
    };
}