// main: ./GDSA.less
.GDSA.sheet.characterSheet {
    .window-content {
        padding: 8px;
    };
    .nameLable {
        height: 64px;
    };
    .sheet{
        width: 620px;
        height: 765px;
        font-family: MasonSerifBold;
        src: url('fonts/mason-serif-bold.otf') format('opentype');
    };
    .sheet2{
        width: 620px;
        height: 575px;
        font-family: MasonSerifBold;
        src: url('fonts/mason-serif-bold.otf') format('opentype');
    };
    .logoImg{
        height: 46px;
        border: 0px;
        margin: auto;
    };
    .editableValue{
        background-color: rgba(255,255,255,0.45);
    };
    .plusSym{
        font-size: 15px;
        padding-top: 3px;
    };
    .plusSym2{
        font-size: 20px;
        padding-top: 1px;
        margin-left: 10px;
    };
    .plusSym3{
        font-size: 20px;
        padding-top: 8px;
    };
    .shopSymHide{
        color: rgba(0,0,0,0.4);
    };
    .gCoinSym{
        font-size: 14px;
        padding-top: 11px;
        color: goldenrod;
    };
    .sCoinSym{
        font-size: 14px;
        padding-top: 11px;
        color: silver;
    };
    .cCoinSym{
        font-size: 14px;
        padding-top: 11px;
        color: rgb(184,115,51);
    };
    .iCoinSym{
        font-size: 14px;
        padding-top: 11px;
        color: gray;
    };
    .inTableSym{
        height: 16px;
        width: 16px;
        border: 2px solid #edd4b9;
        border-radius: 8px;
        background-color: #3a333a;
        padding: 1px;
        font-size: 11px;
        margin-top: -1px;
    };
    .faD20Stat{
        float: none;
    };
    .nav{
        display: contents;
    };
    .menuRow1 {
        width: 100%;
        height: 29px;
        float: left;
    };
    .menuRow2 {
        width: 100%;
        height: 25px;
        float: left;
        flex-flow: row;
        display: flex;
    };
    .menuCell {
        width: 612px;
        height: 25px;
        float: left;
        flex-flow: row;
        gap: 4px;
        display: flex;
    };
    .menuCellMiddle {
        width: 144px;
        height: 25px;
        float: left;
        flex-direction: column;
        display: flex;
    };
    .menuBar{
        width: 616px;
        height: 60px;        
    };
    .menuDivider{
        width: 144px;
        height: 60px;
        float: left;
        text-align: center;
        font-size: 16px;
        line-height: 15px;
        padding-top: 13px !important;
    };
    .menuMainItem{
        float: left;
        padding: 0px 0px;
    };
    .menuMainItem.active > .menuItem{
        background-color: #efeeed;
        color: black;
        outline-color: #bfa30c;
        border-color: #c9c9c9;
        pointer-events: none;
    };
    .menuMainItem.active {
        pointer-events: none;
    };
    .menuItem{
        height: 34px;
        border: 2px solid;
        border-radius: 15px;
        outline: 1px white solid;
        outline-offset: -6px;
        float: left;
        text-align: center;
        display: flex;
        flex-flow: column-reverse;
        font-size: 12px;
        line-height: 30px;
    };
    .item:hover > .menuItem{
        background: rgba(0 0 0 / 3%);
    };
    .menuItemBox{
        width: 234px;
        height: 60px;
        float: left;
    };
    .filler{
        width: 616px;
        height: 15px;
    };
    .fillerHead{
        width: 616px;
        height: 20px;
    };
    .infoBox{
        width: 616px;
        height: 221px;
    };
    .infoDivider{
        width: 10px;
        height: 221px;
        float: left;
    };
    .imgBox{
        width: 177px;
        height: 225px;
        float: left;
        display: grid;
        justify-content: center;
    };
    .img{
        max-height: 225px;
        max-width: 177px;
        vertical-align: middle;
        border: 2px solid #e9d2b4;
        border-radius: 12px;
        object-fit: fill;
        margin: auto;
    };
    .factBox{
        width: 428px;
        height: 225px;
        border: 2px solid #ebd3b7;
        border-radius: 8px;
        float: left;
        text-align: center;
        padding-top: 5px;
        background-color: #7d7d7d6b;
    };
    .factType{
        width: 132px;
        float: left;
        text-align: left;
        padding-left: 18px;
        color: #000000;
    };
    .factValue{
        width: 290px;
        float: left;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
    };
    .factValue2{
        width: 270px;
        float: left;
        text-align: left;
    };
    .factDivider{
        margin-top: 2px;
        margin-bottom: 3px;
    };
    .flawhead{
        width: 270px;
        height: 20px;
        text-align: center;
        font-size: 18px;
        float: left;
        background-color: #3128308f;
        padding-left: 26px;
    };
    .characterBNT{
        width: 15px;
        height: 15px;
        position: absolute;
        top: 95px;
        right: 21px;
    };
    .characterBNT2{
        width: 14px;
        height: 14px;
        position: absolute;
        top: 120px;
        right: 21px;
        font-size: 13px
    };
    .CharLog{
        font-size: 12px;
    };
    .flawbnt{
        width: 29px;
        height: 20px;
        text-align: center;
        font-size: 19px;
        float: left;
        background-color: #3128308f;
        color: black;
    };
    .flaw{
        width: 240px;
        height: 14px;
        text-align: left;
        padding-left: 10px;
        font-size: 11px;
        white-space: nowrap;
    };
    .traithr{
        width: 538px;
        margin-left: 7px;
        margin-top: 2px;
        margin-bottom: 2px;
        background-image: linear-gradient(90deg, 
            transparent 0%, 
            #e7d1b161 50%, 
            transparent 100%);
    };
    .traithr2{
        width: 540px;
        margin-left: 7px;
        margin-top: 2px;
        margin-bottom: 2px;
        background-image: linear-gradient(90deg, 
            transparent 0%, 
            #e7d1b161 50%, 
            transparent 100%);
    };
    .flawhr{
        width: 280px;
        margin-left: 7px;
        margin-top: 2px;
        margin-bottom: 2px;
        background-image: linear-gradient(90deg, 
            transparent 0%, 
            #e7d1b161 50%, 
            transparent 100%);
    };
    .flawhr1{
        width: 330px;
        margin-left: 7px;
        margin-top: 2px;
        margin-bottom: 2px;
        background-image: linear-gradient(90deg, 
            transparent 0%, 
            #e7d1b161 50%, 
            transparent 100%);
    };
    .traithrMain{
        width: 550px;
        margin-left: 7px;
        margin-top: 2px;
        margin-bottom: 2px;
    };
    .traithrMain2{
        width: 560px;
        margin-left: 7px;
        margin-top: 2px;
        margin-bottom: 2px;
    };
    .flawhrMain{
        width: 280px;
        margin-left: 7px;
        margin-top: 2px;
        margin-bottom: 2px;
    };
    .flawhrMain2{
        width: 250px;
        margin-left: 7px;
        margin-top: 2px;
        margin-bottom: 2px;
    };
    .flawhrMain3{
        width: 330px;
        margin-left: 7px;
        margin-top: 2px;
        margin-bottom: 2px;
    };
    .flawhrbox{
        width: 300px;
        float: left;
    };
    .flawBox{
        width: 303px;
        height: 200px;
        float: left;
        text-align: center;
        border: 2px solid #ebd3b7;
        border-radius: 8px;
        background-color: #7d7d7d6b;
        overflow: hidden
    };
    .flawDivider{
        width: 10px;
        height: 196px;
        float: left;
    };
    .maghr {
        width: 545px;
        margin-left: 7px;
        margin-top: 2px;
        margin-bottom: 2px;
    };
    .advantages{
        float: left;
        overflow-y: auto;
        height: 165px;
        scrollbar-width: thin;
        scrollbar-color: #edd4b98a #434146;
    };
    .valueBox{
        width: 616px;
        height: 200px;
    };
    .valueBox1{
        width: 262px;
        height: 212px;
        float: left;
        text-align: center;
        background-color: #7d7d7d6b;
        border: 2px solid #ebd3b7;
        border-radius: 10px;
        overflow: hidden
    };
    .valueBox2{
        width: 342px;
        height: 212px;
        float: left;
        text-align: center;
        background-color: #7d7d7d6b;
        border: 2px solid #ebd3b7;
        border-radius: 10px;
        overflow: hidden
    };
    .valueBox3{
        width: 616px;
        height: 212px;
    };
    .smallValueBox{
        width: 40px;
        height: 15px;
        float: left;
        text-align: center;
        padding-top: 1px;
        font-size: 12px;
    };
    .bigValueBox{
        width: 138px;
        height: 17px;
        float: left;
        text-align: left;
        padding-left: 12px;
        font-size: 12px
    };
    .valueHead{
        font-size: 10px;
        padding-top: 4px;
        background-color: #39333a;
        color: #6d6d6d;
        border-right: none;
        border-left: none;
    };
    .valueDivider{
        width: 12px;
        height: 200px;
        float: left;
        text-align: center;
    };
    .statitem {
        height: 15px;
    };
    .footer{
        width: 616px;
        height: 20px;
        float: left;
        text-align: center;
        background-color: #7d7d7d6b;
        border: 2px solid #ebd3b7;
        border-radius: 4px;
    };
    .footerBox{
        width: 616px;
        height: 20px;
    };
    .footerSmall{
        width: 120px;
        height: 20px;
        float: left;
        text-align: right;
        font-size: 12px; 
    };
    .footerSmall2{
        width: 85px;
        height: 20px;
        float: left;
        text-align: right;
        font-size: 12px; 
    };
    .footerBig{
        width: 70px;
        height: 14px;
        float: left;
        text-align: left;
        font-size: 12px;
        margin-top: 1px;
        font-weight: bold;
        padding-left: 14px;
    };
    .footerFirst{
        width: 165px;
        height: 20px;
        float: left;
        text-align: left;
        padding-left: 48px;
        font-size: 12px;
        margin-left: 8px;
    };
    .gmBox{
        float: left;
        height: 686px;
        width: 99%;
    };
    .statTemp{
        border: 0px;
        padding: 0px;
        height: 100%;
        width: 100%;
        text-align: center;
    };
    .statTemp2{
        height: 100%;
        width: 100%;
        padding: 0px;
        padding-left: 6px;
        margin-bottom: 3px;
        border: 0px;
    };
    .SkillFiller{
        width: 620px;
        height: 10px;
    };
    .skillMenu{
        height: 23px;
        display: inline-grid;
        text-align: center;
        border: 2px solid #e9d2b4;
        border-radius: 10px;
        line-height: 18px;
        font-size: 13px;
    };
    .skillMenuBox{
        width: 620px;
        height: 40px;
        text-align: center;
    };
    .skillMenuBox2{
        width: 620px;
        height: 33px;
        text-align: center;
    };
    .skillsBox{
        width: 629px;
        height: 607px;
        text-align: center;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #ebd3b7de #17151d30;
        scrollbar-gutter: stable;
    };
    .skillsBox2{
        width: 629px;
        height: 625px;
        text-align: center;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #ebd3b7de #17151d30;
        scrollbar-gutter: stable;
    };
    .magicBox{
        width: 625px;
        height: 607px;
        text-align: center;
    };
    .skillTable{
        display: inline-block;
        width: 610px;
        margin: 0px;
        border: 2px solid #e9d2b4;
        border-radius: 10px;
        margin-top: 8px;
        margin-left: 1px;
    };
    .skillTableNameCombat{
        width: 394px;
        text-align: left;
        padding-left: 10px;
    };
    .skillTableName{
        width: 449px;
        text-align: left;
        padding-left: 10px;
    };
    .skillTableNameBig{
        width: 514px;
        text-align: left;
        padding-left: 10px;
        position: relative;
    };
    .skillTableNameBig3{
        width: 555px;
        text-align: left;
        padding-left: 10px;
        position: relative;
    };
    .skillTableBE{
        width: 65px;
        text-align: center;
        padding: 0px;
    };
    .skillTableValue{
        width: 50px;
        text-align: center;
        padding: 0px;
    };
    .skillTableFiller{
        width: 5px;
        text-align: center;
        padding: 0px;
    };
    .skillTableRoll{
        width: 50px;
        text-align: center;
    };
    .skillTemp{
        border: 0px;
        padding: 0px;
        width: 100%;
        height: 24px;
        background-color: #312830;
        text-align: center;
    };
    .skillTemp2{
        border: 0px;
        padding: 0px;
        width: 100%;
        height: 18px;
        background-color: #312830;
        text-align: center;
    };
    .wonderBox{
        overflow-y: scroll; 
        height: 600px; 
        overflow-x: hidden;
        scrollbar-width: none;
    };
    .langbox{
        width: 100%;
        height: 300px;
    };
    .langtext{
        float: left;
        width: 565px;
        text-align: left;
        padding-left: 10px;
        padding-top: 9px;
        font-size: 19px;
    };
    .langbnt{
        float: left;
        height: 20px;
        padding-top: 10px;
        width: 50px;
    };
    .langhr{
        float: left;
        height: 2px;
        width: 98%;
        margin-bottom: 2px;
        margin-top: 2px
    };
    .langtab{       
        height: 250px;
        width: 628px;
        float: left;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #ebd3b7de #17151d30;
        scrollbar-gutter: stable;
    };
    .lootActorHeader {
        float: left;
        width: calc(100% - 45px);
        height: 80px;
        display: flex;
        border: 2px solid #ebd3b7;
        border-radius: 8px;
        text-align: center;
        padding-top: 5px;
        background-color: #7d7d7d6b;
        margin: 0px 21px;
        };
    .lootActorMoney {
        width: calc(100% - 45px);
        height: 32px;
        float: left;
        margin: 10px 21px;
        padding: 6px 36px;
        background-color: #7d7d7d6b;
        border: 2px solid #ebd3b7;
        border-radius: 13px;
        text-align: center;
    };
    .lootActorName {
        width: 100%;
        margin: 10px 20px;
    };
    .lootActorNameInput {
        height: 50px;
        font-size: 24px;
    };
    .skillHeaderBox{
        width: 620px;
        height: 45px;
        text-align: center;
        position: relative;
    };
    .skillHeaderBox2{
        width: 620px;
        height: 55px;
        text-align: center;
        position: relative;
    };
    .skillHeaderBox3{
        width: 620px;
        height: 30px;
        text-align: center;
    };
    .skillFiller2{
        width: 100%;
        height: 5px;
    };
    .skillHeaderSkillBox{
        width: 392px;
        height: 56px;
        display: inline-block;
        margin: auto;
    };
    .skillHeaderSkillBox2{
        width: 500px;
        height: 22px;
        margin: auto;
        display: inline-block;
        margin: auto;
        border: 2px solid #e7d1b1;
        border-radius: 5px;
        color: #e6d0b0;
        background-color: #7d7d7d6b;
    };
    .skillHeaderSkillBox3{
        width: 500px;
        height: 22px;
        margin: auto;
        float: left;
        padding-top: 2px;
        padding-left: 70px;
    };
    .skillHeaderSkillBox4{
        width: 210px;
        height: 22px;
        margin: auto;
        float: left;
        padding-top: 2px;
        padding-left: 20px;
    };
    .skillHeaderSkillBox5{
        width: 500px;
        height: 22px;
        margin: auto;
        float: left;
        padding-top: 2px;
        padding-left: 7px;
    };
    .skillHeaderFiller{
        width: 4px;
        height: 40px;
        float: left;
    };
    .skillHeaderStat{
        width: 40px;
        height: 56px;
        float: left;
        text-align: center;
        border: 2px solid #edd4b9;
        border-radius: 20px;
        padding-top: 10px;
        background-color: #7d7d7d6b;;
    };
    .gmTableHelper2 {
        padding: 5px 5px;
    };
    .gmTableHelper7 {
        padding: 10px 7px;
    };
    .woundChart{
        float: left;
        height: 375px;
        width: 190px;
        background-image: url("assets/ui/shape.png");
        background-size: cover;
        background-position-x: -43px;
        background-repeat: no-repeat;
        border: 2px solid #e7d1b1;
        border-radius: 20px;
        background-color: #7d7d7d6b;
    };
    .RSBox{
        float: left;
        height: 25px;
        width: 25px;
        border: 2px solid #e7d1b1;
        border-radius: 15px;
        overflow: hidden;
        background-color: #312830;
        color: #e7d1b1;
        padding-top: 2px;
    };
    .RSHelper1{
        float: left;
        height: 20px;
        width: 100%;
    };
    .RSHelper2{
        float: left;
        height: 40px;
        width: 63px;
    };
    .RSBoxHelper1{
        float: left;
        height: 40px;
        width: 65px;
    };
    .RSBoxHelper2{
        float: right;
        height: 60px;
        width: 25px;
    };
    .RSBoxHelper3{
        float: right;
        height: 70px;
        width: 65px;
    };
    .RSBoxHelper4{
        float: right;
        height: 40px;
        width: 65px;
    };
    .RSHelper3{
        float: left;
        height: 25px;
        width: 20px;
    };
    .RSHelper4{
        float: left;
        height: 40px;
        width: 40px;
    };
    .RSHelper5{
        float: left;
        height: 175px;
        width: 49px;
    };
    .RSHelper6{
        float: left;
        height: 70px;
        width: 93px;
    };
    .RSHelper7{
        float: left;
        height: 175px;
        width: 79px;
    };
    .RSHelper8{
        float: right;
        height: 20px;
        width: 79px;
    };
    .RSHelper9{
        float: right;
        height: 30px;
        width: 79px;
    };
    .RSHelper10{
        float: left;
        height: 175px;
        width: 35px;
    };
    .RSHelper11{
        float: left;
        height: 90px;
        width: 71px;
    };
    .RSHelper12{
        float: left;
        height: 20px;
        width: 71px;
    };
    .RSHelper13{
        float: left;
        height: 90px;
        width: 71px;
    };
    .RSHelper14{
        float: left;
        height: 20px;
        width: 71px;
    };
    .WPBox1{
        float: left;
        height: 18px;
        width: 65px;
    };
    .WPBox2{
        float: left;
        height: 50px;
        width: 25px;
    };
    .wp{
        color: lightgrey;
        font-size: 11px;
    };
    .wpTaken{
        color: darkred;
    };
    .wpSustained{
        color: darkgreen !important;
    };
    .headerLable{
        float: left;
        height: 18px;
        width: 76px;
    };
    .headerLable2{
        float: left;
        height: 18px;
        margin-left: 12px;
        margin-right: 8px;
    };
    .headerValue{
        float: left;
        height: 18px;
        width: 47px;
    };
    .headerValue2{
        float: left;
        height: 18px;
        width: 23px;
        color: white;
    };
    .lepbar{
        position: relative;
        width: 500px;
        height: 20px;
        background: #9cbab4;
        border-radius: 5px;
        overflow: hidden;
        display: inline-block;
        border: 2px solid #e7d1b1;
    };      
    .lepbar_fill{
        width: 0%;
        height: 100%;
        transition: all 0.2s;
        background: repeating-linear-gradient(-45deg, #19a91d, #20cb15 10px, #0db15f 10px, #009542 20px);
    };
    .lepbar_text{
        position: absolute;
        top: 50%;
        right: 46%;
        transform: translateY(-50%);
        font: bold 14px "Quicksand", sans-serif;
        color: #ffffff;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    };
    .aspbar{
        position: relative;
        width: 500px;
        height: 20px;
        background: #9cbab4;
        border-radius: 5px;
        overflow: hidden;
        display: inline-block;
        border: 2px solid #e7d1b1;
    };      
    .aspbar_fill{
        width: 0%;
        height: 100%;
        background: repeating-linear-gradient(-45deg, #23819d, #5ea8e7 10px, #1f5381 10px, #1f92d5 20px);
        transition: all 0.2s;
    };
    .aspbar_text{
        position: absolute;
        top: 50%;
        right: 46%;
        transform: translateY(-50%);
        font: bold 14px "Quicksand", sans-serif;
        color: #ffffff;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    };      
    .kapbar_fill{
        width: 0%;
        height: 100%;
            background: repeating-linear-gradient(-45deg, #cbbe20, #e5df19 10px, #c5a115 10px, #e1d221 20px);
        transition: all 0.2s;
    };
    .combatWindow{     
        width: 360px;
        height: 375px;
        float: left;
        margin-left: 10px;
        margin-bottom: 12px;
        padding: 6px 0px;
        border: 2px solid #e7d1b1;
        border-radius: 10px;
        background-color: #7d7d7d6b;
    };
    .combatFiller1{
        height: 375px;
        width: 30px;
        float: left;
    };
    .combatBntBar{
        text-align: left;
        padding-bottom: 6px;
        display: inline-block;
    };
    #doDMG{
        box-shadow: inset 0px 1px 0px 0px #b9aa95;
        color: #e2ccad;
        text-shadow: 0px 1px 0px #7a7a7a;
        background: linear-gradient(to bottom, #433a69 5%, #2c2b2f 100%);
        //outline: 1px solid #e4e4e5;
        outline-offset: -4px
    };
    #doReg{
        box-shadow: inset 0px 1px 0px 0px #b9aa95;
        color: #e2ccad;
        text-shadow: 0px 1px 0px #7a7a7a;
        background: linear-gradient(to bottom, #433a69 5%, #2c2b2f 100%);
        //outline: 1px solid #e4e4e5;
        outline-offset: -4px
    };
    #doHeal{
        box-shadow: inset 0px 1px 0px 0px #b9aa95;
        color: #e2ccad;
        text-shadow: 0px 1px 0px #7a7a7a;
        background: linear-gradient(to bottom, #433a69 5%, #2c2b2f 100%);
        //outline: 1px solid #e4e4e5;
        outline-offset: -4px
    };
    #doDogde{
        box-shadow: inset 0px 1px 0px 0px #b9aa95;
        color: #e2ccad;
        text-shadow: 0px 1px 0px #7a7a7a;
        background: linear-gradient(to bottom, #433a69 5%, #2c2b2f 100%);
        //outline: 1px solid #e4e4e5;
        outline-offset: -4px
    };
    #doZone{
        box-shadow: inset 0px 1px 0px 0px #b9aa95;
        color: #e2ccad;
        text-shadow: 0px 1px 0px #7a7a7a;
        background: linear-gradient(to bottom, #433a69 5%, #2c2b2f 100%);
        //outline: 1px solid #e4e4e5;
        outline-offset: -4px
    };
    .gmTableHelper3{
        width: 450px;
    };
    .gmTableHelper4{
        padding-left: 23px;
    };
    .gmTableHelper5{
        padding-left: 20px;
    };
    .gmTableHelper6{
        border-bottom: 1px solid black;
    };  
    .tableBnt{
        width: 30px;
        padding-top: 2px;
        padding-bottom: 2px;
    };
    .tableLbl{
        height: 30px;
        max-width: 215px;
        text-align: left;
        padding-left: 13px;
        padding-top: 2px;
        padding-bottom: 2px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
    };
    .combatTable{
        width: 355px;
        margin: 3px 0px;
        background-color: #000000b0;
    };
    .combatTableBox1{
        width: 336px;
        min-height: 100px;
        float: left;
    };
    .combatTableBox2{
        width: 336px;
        min-height: 75px;
        float: left;
    };
    .combatTableBox3{
        width: 336px;
        min-height: 50px;
        float: left;
    };
    .sonderfBox{
        width: 562px;
        height: 108px;
        float: left;
        margin: 5px 30px;
        border: 2px solid #e7d1b1;
        border-radius: 12px;
        background-color: #7d7d7d6b;
        overflow: hidden;
    };
    .sonderfBox2{
        width: 562px;
        height: 228px;
        float: left;
        margin: 5px 30px;
        border: 2px solid #e7d1b1;
        border-radius: 12px;
        background-color: #7d7d7d6b;
        overflow: hidden;
    };
    .traitDetailsHeader{
        width: 565px;
        height: 30px;
        background-color: #383138;
        color: #e9d2b4;
    };
    .traitDetailsHeader2{
        width: 565px;
        height: 10px;
        background-color: #383138;
        color: #e9d2b4;
    };
    .traitHeaderBig{
        width: 410px;
        height: 30px;
        float: left;
        padding-top: 10px;
        padding-left: 25px;
    };
    .traitHeaderBig2{
        width: 300px;
        height: 30px;
        float: left;
        text-align: left;
        padding-top: 10px;
        padding-left: 10px;
    };
    .traitHeaderSmall{
        width: 70px;
        height: 30px;
        float: left;
        padding-top: 10px;
        text-align: center;
    };
    .traitHeaderSmall2{
        width: 95px;
        height: 30px;
        float: left;
        padding-top: 10px;
        text-align: center;
    };
    .traitDetailsBody {
        width: 100%;
        height: 540px;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #edd4b9a6 #434146;
        scrollbar-gutter: stable;
    };
    .traitDetailsBody2 {
        width: 100%;
        height: 560px;
        overflow-y: scroll;
        text-align: left;
        scrollbar-width: thin;
        scrollbar-color: #edd4b9a6 #434146;
        scrollbar-gutter: stable;
    };
    .traitDetailItem{
        width: 550px;
        height: 20px;
    };
    .traitDetailItemName{
        width: 410px;
        height: 20px;
        float: left;
        font-size: 13px;
        padding-top: 2px;
        padding-left: 25px;
        text-wrap-mode: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    };
    .traitDetailItemName2{
        width: 490px;
        height: 20px;
        float: left;
        font-size: 13px;
        padding-top: 2px;
        padding-left: 25px;
        text-wrap-mode: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    };
    .traitDetailItemName3{
        width: 455px;
        height: 20px;
        float: left;
        font-size: 13px;
        padding-top: 2px;
        padding-left: 25px;
        text-wrap-mode: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    };
    .traitDetailItemName4{
        width: 300px;
        height: 20px;
        float: left;
        font-size: 13px;
        padding-top: 2px;
        padding-left: 30px;
        text-align: left;
        text-wrap-mode: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    };
    .traitDetailItemConfig{
        width: 70px;
        height: 20px;
        float: left;
        font-size: 14px;
        text-align: center;
        padding-top: 1px;
    };
    .traitDetailItemConfig2{
        width: 30px;
        height: 20px;
        float: left;
        font-size: 14px;
        text-align: center;
        padding-top: 1px;
    };
    .traitDetailItemConfig3{
        width: 30px;
        height: 20px;
        float: left;
        font-size: 14px;
        text-align: center;
        padding-top: 1px;
        margin: 0px 2px;
        border: 1px solid #ebd3b7;
        border-radius: 6px;
        overflow: hidden;
    };
    .traitDetailItemConfig4{
        width: 30px;
        height: 20px;
        float: left;
        font-size: 14px;
        text-align: center;
        padding-top: 1px;
        margin-left: 20px;
        margin-top: -1px;
    };
    .traitDetailItemConfig5{
        width: 80px;
        height: 20px;
        float: left;
        font-size: 14px;
        text-align: center;
        padding-top: 1px;
    };
    .traitDetailItemConfig6{
        width: 90px;
        height: 20px;
        float: left;
        font-size: 14px;
        text-align: center;
        padding-top: 1px;
        padding-left: 15px;
    };
    .traitDetailsFooter{
        width: 565px;
        height: 30px;
        background-color: #383138;
        color: #e9d2b4;
        text-align: center;
        padding-top: 8px;
    };
    .traithead{
        width: 528px;
        height: 20px;
        text-align: center;
        font-size: 18px;
        float: left;
        padding-left: 23px;
        background-color: #39333a;
    };
    .traithrbox{
        width: 558px;
        float: left;
    };
    .traithrbox2{
        width: 565px;
        float: left;
    };
    .traithrbox3{
        width: 550px;
        float: left;
    };
    .traithrbox4{
        width: 530px;
        float: left;
        margin-left: 20px;
    };
    .traits{
        float: left;
        overflow-y: scroll;
        height: 80px;
        width: 557px;
        scrollbar-width: thin;
        scrollbar-color: #edd4b98a #434146;
        scrollbar-gutter: stable;
    };
    .traits2{
        float: left;
        overflow-y: scroll;
        height: 194px;
        width: 557px;
        scrollbar-width: thin;
        scrollbar-color: #edd4b98a #434146;
        scrollbar-gutter: stable;
    };
    .trait{
        width: 545px;
        height: 14px;
        text-align: left;
        padding-left: 10px;
        font-size: 12px;
    };
    .invFiller{
        width: 100%;
        height: 30px;
    };
    .invFiller2{
        width: 100%;
        height: 12px;
    };  
    .invFiller3{
        width: 100%;
        height: 12px;
        border-top-style: groove;
        border-top-width: 2px;
        margin-top: 2px;
    }; 
    .invFiller4{
        width: 100%;
        height: 30px;
    };
    .inventory{
        width: calc(100% - 40px);
        height: 610px;
        margin: 0px 21px;
        padding: 4px 0px;
        background-color: #7d7d7d6b;
        border: 2px solid #ebd3b7;
        border-radius: 13px;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #ebd3b791 #17151d30;
        scrollbar-gutter: stable;
    };  
    .inventory2{
        width: calc(100% - 45px);
        height: 435px;
        float: left;
        margin: 0px 21px;
        padding: 4px 0px;
        background-color: #7d7d7d6b;
        border: 2px solid #ebd3b7;
        border-radius: 13px;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #ebd3b791 #17151d30;
        scrollbar-gutter: stable;
    };    
    .inventory3{
        width: 70%;
        height: 482px;
        padding-left: 10px;
        float: left;
        overflow-y: scroll;
        border-left-width: 2px;
        border-left-style: groove;
        margin-left: 16px;
        scrollbar-width: none;
    };  
    .inventory4{
        width: calc(100% - 50px);
        height: 608px;
        padding-left: 2px;
        padding-right: 2px;
        border: 2px solid #e9d2b4;
        background-color: #7d7d7d6b;
        border-radius: 18px;
        margin: 0px 25px;
        overflow: hidden;
    };
    .inventory5{
        width: calc(100% - 44px);
        height: 608px;
        padding-left: 2px;
        padding-right: 2px;
        border: 2px solid #e9d2b4;
        background-color: #7d7d7d6b;
        border-radius: 18px;
        margin: 0px 25px;
        overflow: hidden;
    };
    .gmLogBox {
        height: 100%;
        width: 100%;
        float: left;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #edd4b98a #434146;
        scrollbar-gutter: stable;
    };
    .invHeader{
        height: 30px;
        width: 565px;
        border-bottom-width: 2px;
        position: relative;
        font-size: 16px;
        padding-top: 4px;
        padding-left: 34px;
        background-color: rgb(57 51 58);
        color: #e6d0b2;
    };  
    .invHeader2{
        height: 30px;
        width: 410px;
        border: 1px solid black;
        border-bottom-width: 2px;
        position: relative;
        font-size: 16px;
        padding-top: 4px;
        padding-left: 16px;
        background-color: rgba(0,0,0,0.07);
    };
    .invHeader3{
        position: relative;
        border-bottom-width: 2px;
        background-color: #39333a;
        color: #e6d0b2;
        height: 25px;
        width: 560px;
        font-size: 14px;
        padding-top: 3px;
        padding-left: 31px;
        margin-left: 20px;
    };
    .invHeader4{
        height: 30px;
        width: 580px;
        border-bottom-width: 2px;
        position: relative;
        font-size: 16px;
        padding-top: 4px;
        padding-left: 34px;
        background-color: #39333a;
        color: #e6d0b2;
    };  
    .merchantInfo {
        width: 170px;
        height: 485px;
        float: left;
    };
    .invItem{
        border-top-width: 0px;
        padding-left: 40px;
        height: 41px;
        padding-top: 1px;
        width: 565px;
        position: relative;
    };
    .invItem2{        
        border: 1px solid black;
        border-top-width: 0px;
        padding-left: 75px;
        height: 41px;
        padding-top: 1px;
        width: 410px;
        position: relative;
    };
    .invItem3{        
        border-top-width: 0px;
        border-left-width: 2px;
        padding-left: 75px;
        height: 41px;
        padding-top: 1px;
        width: 545px;
        position: relative;
        margin-left: 20px;
        text-overflow: ellipsis;
        text-wrap-mode: nowrap;
        overflow: hidden;
        padding-right: 15px;
    };
    .invDivider{
        height: 20px;
        width: 580px;
    };
    .invAddBox{
        width: 20px;
        height: 20px;
        margin-left: 12px;
        float: left;
    };
    .invMenuHelper{
        height: 30px;
        width: 570px;
        display: inline-block;
        border: 2px solid #e9d2b4;
        background-color: #7d7d7d6b;
        border-radius: 6px;
        font-size: 13px;
        padding-top: 3px;
    };
    .invMenuHelper2{
        height: 22px;
        width: 500px;
        display: inline-block;
    };
    .inv-create > nav#context-menu{
        left: -180px;
        top: 5px;
        width: 200px;
    };
    .itemImgBox{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 4px;
        left: 4px;
    };
    .itemImgBox2{
        width: 30px;
        height: 30px;
        position: absolute;
        top: 4px;
        left: 35px;
    };
    .itemAmountBox {
        height: 18px;
        width: 25px;
        position: absolute;
        left: 10px;
        top: 8px;
        text-align: center;
        padding-top: 3px;
        color: #edd4b9;
        font-size: 14px;
    };
    .changeAmount {
        position: absolute;
        top: 10px;
        left: 1px;
        font-size: 9px;
        width: 6px;
    };
    .itemAmount {
        position: absolute;
        left: 0px;
        top: -2px;
        height: 26px;
        border-radius: 7px;
        background-color: #1e161e;
        padding: 0px 1px;
        text-align: center;
    };
    .itemImg{
        width: 30px;
        height: 30px;
    };
    .invtableborder{
        width: 565px;
    };
    .invtableborder2{
        width: 410px;
        border: 1px solid black;
    };
    .invtableborder3{
        width: 580px;
        border-left-width: 0px;
        border-right-width: 2px;
        border-bottom-width: 0px;
        box-shadow: inset 20px 0px 0 0 #3c3b3f;
    };
    .addItemBox{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 4px;
        left: 530px;
    };
    .addItemBox2{
        width: 20px;
        height: 20px;
        position: absolute;
        top: 2px;
        left: 375px;
    };
    .addItemBox3{
        width: 160px;
        height: 20px;
        position: absolute;
        top: 2px;
        right: 45px;
        text-align: right;
    };
    .itemWorn{
        position: absolute;
        top: 14px;
        right: 5px;
    };
    .moneylable{
        font-size: 12px;
        border: 1px solid #ffffff;
        border-radius: 9px;
        background-color: #312830;
        color: #e4cdb0;
        text-align: center;
        margin-top: -1px;
    };
    .myButton {
        box-shadow:inset 0px 1px 0px 0px #ffffff;
        background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
        background-color:#ededed;
        border-radius:12px;
        border:1px solid #e7d1b1;;
        display:inline-block;
        cursor:pointer;
        color:#777777;
        font-size:14px;
        font-weight:bold;
        padding:2px 12px;
        text-decoration:none;
        text-shadow:0px 1px 0px #ffffff;
    };
    .myButton:hover {
        background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
        background-color:#dfdfdf;
    };
    .myButton:active {
        position:relative;
        top:1px;
    };
    .specialBnt {
        box-shadow: inset 0px 1px 0px 0px #b9aa95;
        color: #e2ccad;
        text-shadow: 0px 1px 0px #7a7a7a;
        background: linear-gradient(to bottom, #433a69 5%, #2c2b2f 100%);
        outline-offset: -4px;
    };  
    .ritHelper {
        float: right;
        margin-right: 7px;
    };
    .ritBox {
        height: 15px;
        margin: 1px 0px 0px 0px;
    };
    .merchantDisc {
        width: 175px;
        height: 415px;
        resize: none;
    };
    .affiliate {
        height: 85px;
        width: 175px;
        margin-top: 10px;
        font-size: 15px;
        border: 1px solid black;
        padding: 3px 6px;
    };
    .classification {
        height: 40px;
        width: 175px;
        margin-top: 10px;
        border: 1px solid black;
        padding: 3px 6px;
    };
    .classificationSelection {
        width: 89px;
        height: 16px;
        font-size: 10px;
    };
    .affiliateBar {
        margin-top: 3px;
        float: left;
        border-radius: 15px;
        border: 2px solid;
        border-color: #00000082;
        background-color: darkblue;
        color: white;
    };
    .affiImg {
        width: 25px;
        height: 25px;
        float: left;
        border-radius: 12px;
        overflow: hidden;
    };
    .affiName {
        height: 25px;
        width: 95px;
        float: left;
        padding: 1px;
        padding-left: 5px;
        padding-top: 4px;
    };
    .affiIMG {
        border: 0px;
        height: 25px;
        width: 25px;
    };
    .merchRoll {
        font-size: 12px;
        position: absolute;
        left: 126px;
        margin-top: 1px;
    };
    .holyTraitBox {
        width: 562px;
        height: 324px;
        float: left;
        border: 2px solid #e9d2b4;
        border-radius: 20px;
        margin: 30px 30px 0px 30px;
        overflow: hidden;
        background-color: #7d7d7d6b;
    };
    .skill-lit {
        width: 400px;
        height: 65px;
        display: inline-block;
        border: 2px solid #ebd3b7;
        border-radius: 16px;
        padding-top: 6px;
        background-color: #7d7d7d6b;
        margin-bottom: 20px;
    };
    .skill-mag {
        width: 400px;
        height: 250px;
        display: inline-block;
        border: 2px solid #ebd3b7;
        border-radius: 16px;
        padding-top: 6px;
        background-color: #7d7d7d6b;
    };
    .wonderskillLbl {
        width: 245px;
        height: 25px;
        float: left;
        font-size: 15px;
        color: #e4cdb0;
        padding-top: 2px;
        padding-left: 105px;
    };
    .magicskillLbl {
        width: 245px;
        height: 25px;
        float: left;
        font-size: 15px;
        color: #e4cdb0;
        padding-top: 2px;
        padding-left: 135px;
    };
    .magAddRit {
        float: left;
        height: 20px;
        width: 20px;
        margin: 2px 0px 0px 125px;
    };
    .magRitFiller {
        float: left;
        width: 100%;
        height: 5px;
    };
    .magRitLbl {
        float: left;
        height: 18px;
        width: 160px;
        margin-left: 80px;
        text-align: left;
        margin-right: 38px;
        margin-bottom: 5px;
    };
    .magRitValue {
        float: left;
        height: 20px;
        width: 35px;
        border: 2px solid #dcc7ac;
        border-radius: 16px;
        overflow: hidden;
        margin-top: -1px;
    };
    .magRitSkillOverview {
        float: left;
        width: 100%;
        height: 170px;
        padding-top: 5px;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #edd4b98a #434146;
        scrollbar-gutter: stable;
    };
    .wonderskillValue {
        width: 50px;
        height: 25px;
        float: left;
    };
    .wonderskillInput {
        height: 20px;
        width: 35px;
        margin-top: 1px;
        border: 1px solid #e7d1b3;
        border-radius: 10px;
    };
    .god-outer {
        width: 400px;
        display: inline-block;
        height: 160px;
    };
    .god-inner {
        height: 175px;
        background-image: url(assets/ui/Zwölfgötter.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 175px;
        margin-left: 115px;
        background-color: #434146;
        border: 2px solid #e9d2b4;
        border-radius: 104px;
        outline: 6px solid #e9d2b4;
        outline-offset: -6px
    };
    .holytraits {
        float: left;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 295px;
        scrollbar-width: thin;
        scrollbar-color: #ebd3b791 #17151d30;
        scrollbar-gutter: stable;
        width: calc(100% - 1px);
    };
    .allItemIMG {
        left: 39px;
    };
    .invItemLast {
        border-bottom-width: 2px;
    };
    .collabsCatogary {
        height: 25px;
        width: 25px;
        position: absolute;
        top: 4px;
        left: 12px;
        color: #e6d0b2;
    };
    .menuLine {
        border: 2px solid #e8d0b5;
        border-radius: 12px;
        width: 400px;
        margin: auto;
        background-color: #7d7d7d6b;
    };
    .holyMirikalList {
        height: 550px;
        background-color: #7d7d7d6b;
        border: 2px solid #ead1b7;
        border-radius: 15px;
        margin: 10px 25px 0px 25px;
        padding: 2px;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #ebd3b791 #17151d30;
        scrollbar-gutter: stable;
    };
    .subSub2 {
        float: left;
        background-color: #383138;
        color: #e9d2b4;
        font-size: 16px;
    };
    .SelHelper1 {
        width: 120px;
        height: 24px;
        margin-left: 16px;
        margin-right: 10px;
        margin-top: 4px;
        margin-bottom: 4px;
    };
    .SelHelper2 {
        width: 140px;
        height: 25px;
        margin-left: 16px;
    };
    .mirSkillBox {
        float: left;
        width: 100%;
        height: 25px;
        padding-left: 32px;
        margin-bottom: 6px;
        position: relative;
    };
    .mirSkillName {
        float: left;
        height: 20px;
        width: 320px;
        margin-top: 4px;
        padding-left: 5px;
        text-align: left;
    };
    .mirSkillSelc {
        float: left;
        width: 170px;
        height: 25px;
        margin-top: -1px;
    };
    .mirRoll {
        position: absolute;
        right: 12px;
        top: 4px;
    };
    .skillFiller {
        width: 100%;
        height: 6px;
        float: left;
    };
    .skillhide {
        position: absolute;
        right: 80px;
        top: 18px;
        float: left;
        height: 20px;
        width: 30px;
        font-size: 20px;
    };
    .merchantImg {
        float: left;
        margin-bottom: 8px;
        height: 67px;
    };
    .merchantName {
        float: left;
        width: 537px;
        height: 35px;
    };
    .nameLableMerch {
        height: 34px;
    };
    .merchMenu {
        font-size: 10px;
    };
    .merchMenuDiv {
        float: left;
        font-size: 10px;
        margin-bottom: 4px;
        margin-left: 4px;
        margin-right: 4px;
    };
    .merchMenuBox {
        width: 170px;
        height: 14px;
        margin: auto;
        padding-left: 10px;
    };
    .charBanner {
        width: 232px;
        height: 750px;
        background-image: url(assets/ui/banner.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: -30px;
    };
    .charBannerBox {
        float: left;
        width: 210px;
        height: 600px;
        overflow: hidden;
    };
    .nameBox {
        float: left;
        width: 400px;
        height: 50px;
        font-size: 26px;
        padding-left: 5px;
        padding-top: 20px;
        overflow: hidden;
    };
    .intercepter {
        float: left;
        width: 390px;
        height: 3px
    };
    .charsheet {
        width: 620px;
        height: 765px;
        display: contents;
        font-family: MasonSerifBold;
        src: url('fonts/mason-serif-bold.otf') format('opentype');
    };
    .charImgBanner {
        float: left;
        width: 170px;
        height: 215px;
        border: 10px solid transparent;
        border-image: url(assets/ui/border.png) 20% round;
        text-align: center;
        display: block;
        justify-content: center;
        white-space: nowrap;
        margin-left: 20px;
        margin-top: 40px;
        margin-bottom: 12px;
    };
    .charNotes {
        height: 170px;
        margin-top: 5px;
        resize: none;
    };
    .bannerTopic {
        float: left;
        width: 100%;
        height: 25px;
        padding-left: 15px;
    };
    .bannerline {
        float: left;
        width: 71%;
        height: 1px;
        margin-left: 13px;
    };
    .affilBar {
        float: left;
        margin-left: 20px;
        border-radius: 15px;
        border: 2px solid;
        border-color: #00000082;
        background-color: darkblue;
        color: white;
    };
    .affilImg {
        width: 23px;
        height: 23px;
        float: left;
        border-radius: 12px;
        overflow: hidden;
    };
    .affilName {
        height: 24px;
        width: 120px;
        float: left;
        padding: 1px;
        padding-left: 5px;
        padding-top: 2px;
    };
    .charBackBotton {
        height: 20px;
        width: 20px;
        font-size: 28px;
        position: absolute;
        top: 45px;
        left: 95px;
    };
    .rowAdvan {
        position: relative;
    };
    .rowAdvan:hover {
        display: block;
    };
    .rowAdvan:hover .editAdvan, .rowAdvan.hover .editAdvan { 
        display: block; 
    };
    .rowAdvan:hover .delAdvan, .rowAdvan.hover .delAdvan { 
        display: block; 
    };
    .editAdvan {
        position: absolute;
        right: 15px;
        top: 0px;
        display: none;
    };
    .delAdvan {
        position: absolute;
        right: 1px;
        top: 0px;
        display: none;
    };
    .effects-control {
        position: absolute;
        top: 3px;
        right: 10px;
    };
    .effect-name {
        width: 460px;
        height: 20px;
        float: left;
        font-size: 16px;
        color: white;
    };
    .effectList {
        margin: 5px;
        padding-left: 30px;
    };
    .charstateTable {
        margin: 20px 90px;
        width: 442px;
        height: 188px;
        border: #e9d2b4 2px solid;
        border-radius: 10px;
        padding: 4px;
        background-color: #7d7d7d6b;
    };
    .charstateRow {
        width: 100%;
        height: 90px;
    };
    .charstateBnt {
        float: left;
        height: 80px;
        width: 80px;
        border: black 2px solid;
        border-radius: 8px;
        margin: 3px;
    };
    .buffcontrol {
        float: right;
        width: 20px;
        border-radius: 10px;
        margin-top: 7px;
        margin-right: 2px;
    };
    .buffUP {
        font-size: 17px;
        font-weight: bolder;
        padding-left: 5px;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    };
    .buffDOWN {
        font-size: 17px;
        font-weight: bolder;
        padding-left: 5px;
        color: white;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    };
    .buffCOUNT {
        width: 20px;
        height: 18px;
        margin: 4px 0px;
    };
    .buffincount {
        height: 18px;
        width: 18px;
        background: #322830;
        font-size: 12px;
        color: #e9d2b4;
        border: 1px solid #e9d2b4;
        border-radius: 9px;
        padding: 0px;
        text-align: center;
    };
    .buffoverloaded {
        border-color: #656565;
        background-image: url(/icons/commodities/stone/paver-cobbles-blue.webp);
        background-size: contain;
    };
    .bufffeared {
        border-color: #631439;
        background-image: url(/icons/magic/death/projectile-skull-fire-purple.webp);
        background-size: contain;
    };
    .buffdarkness {
        border-color: #2c083d;
        background-image: url(/icons/magic/unholy/orb-glowing-purple.webp);
        background-size: contain;
    };
    .buffpoisioned {
        border-color: #0b6436;
        background-image: url(/icons/skills/toxins/cauldron-bubbles-overflow-green.webp);
        background-size: contain;
    };
    .buffentrückt {
        border-color: #f0d000;
        background-image: url(/icons/magic/holy/prayer-hands-glowing-yellow.webp);
        background-size: contain;
    };
    .buffkneeling {
        border-color: #747474;
        background-image: url(/icons/magic/movement/chevrons-down-yellow.webp);
        background-size: contain;
    };
    .buffonground {
        border-color: #754e0e;
        background-image: url(/icons/magic/control/silhouette-fall-slip-prone.webp);
        background-size: contain;
    };
    .buffconcentrated {
        border-color: #11aac5;
        background-image: url(/icons/magic/control/silhouette-aura-energy.webp);
        background-size: contain;
    };
    .buffsick {
        border-color: #96128d;
        background-image: url(/icons/skills/wounds/illness-disease-glowing-green.webp);
        background-size: contain;
    };
    .buffhidden {
        border-color: #2a2a2a;
        background-image: url(/icons/magic/unholy/silhouette-robe-evil-glow.webp);
        background-size: contain;
    };
    .chareffectBox {
        width: 555px;
        height: 450px;
        background-color: #7d7d7d6b;
        color: #e9d2b4;
        border: 2px solid #e9d2b4;
        border-radius: 18px;
        margin-left: 30px;
        overflow: hidden;
        position: relative
    };
    .chareffectTitel {
        height: 30px;
        background: #3a333a;
        font-size: 24px;
        text-align: center;
    };
    .spellSpez {
        font-weight: normal;
        font-size: 10px;
        font-family: 'Signika';
    };
};

.mediOpt {
    height: 25px;
    max-width: 180px;
};
.dialog-content > .form-group {
    height: 25px;
};
.itemCreOpt {
    width: 205px;
};
#itemCreOptName  {
    width: 205px;
};
.tooltipInI {
    height: 23px;
    width: 350px;
    background-color: #fefff3;
    color: black;
    padding-top: 2px;
    padding-left: 5px;
    font-family: 'MasonSerifBold';
};
.tooltipCMB {
    height: 23px;
    width: 375px;
    background-color: #fefff3;
    color: black;
    padding-top: 2px;
    padding-left: 5px;
    font-family: 'MasonSerifBold';
};
.tooltipCMB2 {
    height: 23px;
    width: 300px;
    background-color: #fefff3;
    color: black;
    padding-top: 2px;
    padding-left: 5px;
    font-family: 'MasonSerifBold';
};
.tooltipNum {
    width: 22px;
    height: 16px;
    font-size: 12px;
    font-family: 'MasonSerifBold';
    border-width: 1px;
    text-align: center;
    padding: 0px;
    background-color: #f1e7ca;
};
#tooltip, .locked-tooltip {
    position: absolute;
    width: max-content;
    max-width: 400px;
    padding: 6px 8px;
    background: rgba(0, 0, 0, 0.95);
    font-family: var(--font-primary);
    font-size: var(--font-size-16);
    line-height: var(--font-size-16);
    color: var(--color-text-light-highlight);
    border: 0.8px solid var(--color-border-dark-secondary);
    border-radius: 3px;
    box-shadow: 0 0 4px #000;
    z-index: var(--z-index-tooltip);
    pointer-events: none;
    overflow-wrap: break-word;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 500ms, opacity 500ms;
};