// main: ./GDSA.less
.GDSA.chat.message {
    .flawBox {
        height: 132px;
    };
    .iniBox {
        height: 120px;
    };
    .infoBox {
        font-size: 15px;
        padding-top: 8px;
    };
    .statModBoxAdd {
        height: 157px;
    };
    .flawName {
        height: 29px;
        width: 100%;
        float: left;
        background-color: rgba(0,0,0,0.2);
        font-size: 20px;
        font-family: MasonSerifBold;
        text-align: center;
        padding-top: 2px;
    };
    .dicefiller {
        float: left;
        height: 10px;
        width: 100%;
    };
    .dicefiller1 {
        float: left;
        height: 4px;
        width: 100%;
    };
    .diceCol {
        float: left;
        height: 60px;
        width: 100%;
    };
    .diceCol2 {
        float: left;
        height: 48px;
        width: 100%;
    };
    .dices {
        height: 60px;
        width: 120px;
        margin: auto;
    };
    .dices2 {
        height: 60px;
        width: 180px;
        margin: auto;
    };
    .dice {
        background-image: url(templates/img/dice.png);
        background-size: contain;
        height: 60px;
        width: 60px;
        color: white;
        text-align: center;
        padding-top: 23px;
        float: left;
    };
    .diceD6 {
        background-image: url(templates/img/d6black.svg);
        background-size: contain;
        height: 60px;
        width: 60px;
        color: white;
        text-align: center;
        padding-top: 10px;
        font-size: 22px;
        float: left;
    };
    .diceD62 {
        background-image: url(templates/img/d6black.svg);
        background-size: contain;
        margin-top: 7px;
        height: 60px;
        width: 60px;
        color: white;
        text-align: center;
        padding-top: 10px;
        font-size: 22px;
        float: left;
    };
    .nodice {
        height: 60px;
        width: 60px;
        color: white;
        text-align: center;
        padding-top: 23px;
        float: left;
    };
    .diefiller {
        width: 30px;
        height: 60px;
        float: left;
    };
    .dice-formula {
        float: left;
        width: 100%;
    };
    .rollFlawSuccess {
        float: left;
        background-color: green;
        width: 100%;
        height: 22px;
        font-size: 18px;
        text-align: center;
        color: white;
    };
    .rollFlawFail {
        float: left;
        background-color: darkred;
        width: 100%;
        height: 22px;
        font-size: 18px;
        text-align: center;
        color: white;
    };
    .rollStatMod {
        height: 22px;
        float: left;
        width: 100%;
        font-size: 18px;
        text-align: center;
        background-color: goldenrod;
    };
    .rollSkillSuccess {
        float: left;
        background-color: green;
        width: 100%;
        height: 44px;
        font-size: 18px;
        text-align: center;
        color: white;
    };
    .rollSkillFail {
        float: left;
        background-color: darkred;
        width: 100%;
        height: 44px;
        font-size: 18px;
        text-align: center;
        color: white;
    };
    .rollposMod {
        height: 22px;
        float: left;
        width: 100%;
        font-size: 18px;
        text-align: center;
        background-color: #cddc39;
    };
    .rollnegMod {
        height: 22px;
        float: left;
        width: 100%;
        font-size: 18px;
        text-align: center;
        background-color: #cd0e00;
    };
    .rollMediSuccess {
        float: left;
        background-color: green;
        width: 100%;
        height: 23px;
        font-size: 18px;
        text-align: center;
        color: white;
    };
    .rollMediFail {
        float: left;
        background-color: darkred;
        width: 100%;
        height: 23px;
        font-size: 18px;
        text-align: center;
        color: white;
    };
}