// main: ./GDSA.less

.GDSA.chat.message.skill {
    .collabst {
        height: 0px;
        overflow: hidden;
    };
    .diefiller {
        width: 30px;
        height: 60px;
        float: left;
    };
    .dice-formula {
        float: left;
        width: 100%;
    };
    .chatheadline {
        min-height: 29px;
        width: 100%;
        float: left;
        background-color: #38333a;
        color: #efe6d8;
        font-size: 20px;
        font-family: 'MasonSerifBold';
        text-align: center;
        padding-top: 2px;
        padding-bottom: 3px;
    };
    .chatInfoMessage {
        min-height: 29px;
        width: 100%;
        float: left;
        background-color: #38333a;
        color: #efe6d8;
        font-size: 12px;
        font-family: 'MasonSerifBold';
        text-align: left;
        padding-top: 7px;
        padding-bottom: 3px;
        padding-left: 18px;
    };
    .chathrBox {
        width: 100%;
        height: 2px;
        float: left;
    };
    .chathrBold {
        width: 100%;
        margin-left: 7px;
        margin-top: 0px;
        margin-bottom: 2px;
    };
    .chathr {
        width: 100%;
        margin-left: 7px;
        margin-top: 0px;
        margin-bottom: 2px;
        background-image: linear-gradient(90deg, transparent 0%, #e7d1b161 50%, transparent 100%);
    };
    .infoMainBox {
        float: left;
        min-height: 80px;
        width: 100%;
    };
    .infoDiceBox {
        float: left;
        height: 80px;
        width: 195px;
        padding: 15px 7px;
    };
    .infoDiceBox2 {
        float: left;
        height: 80px;
        width: 100%;
        padding: 10px 84px;
    };
    .infoDiceBox3 {
        float: left;
        height: 80px;
        width: 195px;
        padding: 15px 37px;
    };
    .infoDiceBox4 {
        float: left;
        height: 80px;
        width: 100%;
        padding: 10px 54px;
    };
    .infoDiceBox5 {
        float: left;
        min-height: 80px;
        width: 100%;
        padding: 10px 5px;
        display: inline-flex;
        justify-content: center;
        flex-wrap: wrap;
    };
    .infoDices {
        background-image: url(assets/ui/dice.png);
        background-size: contain;
        height: 60px;
        width: 60px;
        color: white;
        text-align: center;
        padding-top: 23px;
        float: left;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        filter: drop-shadow(0px 1px 0px #e5cfaf) drop-shadow(0px -1px 0px #e5cfaf) drop-shadow(1px 0px 0px #e5cfaf) drop-shadow(-1px 0px 0px #e5cfaf)
    };
    .infoDices2 {
        background-image: url(assets/ui/d6black.svg);
        background-size: contain;
        flex-shrink: 0;
        margin-top: 7px;
        margin-bottom: -10px;
        height: 60px;
        width: 60px;
        color: white;
        text-align: center;
        padding-top: 10px;
        font-size: 22px;
        float: left;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        filter: drop-shadow(0px 1px 0px #e5cfaf) drop-shadow(0px -1px 0px #e5cfaf) drop-shadow(1px 0px 0px #e5cfaf) drop-shadow(-1px 0px 0px #e5cfaf)
    };
    .infoMainImg {
        float: left;
        height: 80px;
        width: 80px;
    };
    .chatRollImg {
        border: 2px solid #e9d2b4;
        border-radius: 10px;
        margin: 10px;
        width: calc(100% - 10px);
    };
    .chatInfoBox {
        float: left;
        min-height: 50px;
        width: calc(100% - 20px);
        color: #e8dfd1;
        font-size: 12px;
        border: 2px solid #e5cfaf;
        border-radius: 12px;
        margin: 10px;
    };
    #chatInfoTable tr:nth-child(even){
        background-color: rgba(255, 255, 255, 0.1);
    };
    #chatInfoTable tr:nth-child(odd){
        background-color: rgba(0, 0, 0, 0.1);
    };
    #chatInfoTable td{
        padding: 8px 15px;
    };
    .rollSkillPositiv {
        float: left;
        background-color: #05b3057d;
        width: 100%;
        min-height: 25px;
        line-height: 16px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 2px;
        text-align: center;
        color: white;
    };
    .rollSkillNegativ {
        float: left;
        background-color: #8b00007d;
        width: 100%;
        min-height: 25px;
        line-height: 16px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 2px;
        text-align: center;
        color: white;
    };
    .rollSkillInfo {
        float: left;
        background-color: #d7d7d77d;
        width: 100%;
        height: 22px;
        line-height: 16px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 2px;
        text-align: center;
        color: white;
    };
    .rollSkillSuccess {
        float: left;
        background-color: #05b3057d;
        width: 100%;
        height: 22px;
        line-height: 16px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 2px;
        text-align: center;
        color: white;
    };
    .rollSkillFail {
        float: left;
        background-color: #8b00007d;
        width: 100%;
        height: 22px;
        line-height: 16px;
        font-size: 15px;
        padding-top: 4px;
        padding-bottom: 2px;
        text-align: center;
        color: white;
    };
    .rollpositivMod {
        height: 20px;
        float: left;
        width: 100%;
        font-size: 14px;
        text-align: center;
        color: #e5cfaf;
        padding-top: 1px;
        background-color: #05b3057d;
    };
    .rollnegativMod {
        height: 20px;
        float: left;
        width: 100%;
        font-size: 14px;
        text-align: center;
        color: #e5cfaf;
        padding-top: 1px;
        background-color: #8b00007d;
    };
    .rollgeneralMod {
        height: 20px;
        float: left;
        width: 100%;
        font-size: 14px;
        text-align: center;
        color: #e5cfaf;
        padding-top: 1px;
        background-color: #e7a500bd;
    };
    .chatTraits {
        padding: 3px 15px !important;
        font-size: 9px;
    };
    .lepDrop {
        color: #cb0f0f;
        font-size: 10px;
        margin: 2px;
        filter: drop-shadow(0px 1px 0px #a90b0b) drop-shadow(0px -1px 0px #a90b0b) drop-shadow(1px 0px 0px #a90b0b) drop-shadow(-1px 0px 0px #a90b0b);
    };
    .lepRaise {
        color: #c7bb18;
        font-size: 10px;
        margin: 2px;
        filter: drop-shadow(0px 1px 0px #c7a10c) drop-shadow(0px -1px 0px #c7a10c) drop-shadow(1px 0px 0px #c7a10c) drop-shadow(-1px 0px 0px #c7a10c)
    };
    .aspChance {
        color: #29aadd;
        font-size: 10px;
        margin: 2px;
        filter: drop-shadow(0px 1px 0px #1024bb) drop-shadow(0px -1px 0px #1024bb) drop-shadow(1px 0px 0px #1024bb) drop-shadow(-1px 0px 0px #1024bb);
    };
    .bntChat3 {
        width: 84px;
        border-radius: 10px;
        padding: 1px 5px;
    };
    .bntChat4 {
        width: 40px;
        margin: 0px;
        border-radius: 10px;
    };
    .bntChat5 {
        width: 46px;
        margin: 0px;
        border-radius: 10px;
    };
    .bntChat6 {
        width: 86px;
        border-radius: 10px;
        padding: 1px 5px;
    };
    .switch {
        position: relative;
        display: inline-block;
        width: 45px;
        height: 18px;
    };
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 16px;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 1px;
        bottom: 1px;
        background-color: white;
        transition: .4s;
        border-radius: 50%;
    }
    input:checked + .slider {
        background-color: #2196F3;
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
        transform: translateX(27px);
    }
};

.itemNotesOut {
    height: 500px;
    width: 450px;
};
.itemNotesIn {
    height: 490px;
    width: 440px;
};
.chat-message.message:has(.GDSA.chat.message.skill) {
    background-color: #0b0a13e6 !important;
    border: 2px solid #353535;
    border-radius: 14px;
    background: none;
    padding: 0px;
    overflow: hidden;
};
.message-header {
    background-color: #7d7d7d6b;
    padding: 1px 11px 0px 10px;
    font-size: 12px;
    color: #e6d0b0;
};