//main: ./GDSA.less
.GDSA.sheet.itemSheet {
    .nameLable {
        width: 373px;
    };
    .itemMain {
        width: 450px;
        height: 305px;
    };
    .itemRow {
        width: 450px;
        height: 50px;
        float: left;
    };
    .itemRow2 {
        width: 400px;
        height: 50px;
        float: left;
    };
    .itemRow3 {
        width: 375px;
        height: 50px;
        float: left;
    };
    .itemDescBox {
        width: 450px;
        height: 150px;
    };
    .itemDesc {
        width: 450px;
        height: 235px;
    };
    .itemDesc2 {
        width: 450px;
        height: 135px;
    };
    .itemDesc3 {
        width: 450px;
        height: 185px;
    };
    .box230 {
        width: 230px;
        height: 50px;
        float: left;
    };
    .box205 {
        width: 205px;
        height: 50px;
        float: left;
    };
    .box195 {
        width: 195px;
        height: 50px;
        float: left;
    };
    .box185 {
        width: 185px;
        height: 50px;
        float: left;
    };
    .box175 {
        width: 175px;
        height: 50px;
        float: left;
    };
    .box165 {
        width: 165px;
        height: 50px;
        float: left;
    };
    .box160 {
        width: 160px;
        height: 50px;
        float: left;
    };
    .box150 {
        width: 150px;
        height: 50px;
        float: left;
    };
    .box150s {
        width: 150px;
        height: 30px;
        float: left;
    };
    .box140 {
        width: 140px;
        height: 50px;
        float: left;
    };
    .box135 {
        width: 135px;
        height: 50px;
        float: left;
    };
    .box120 {
        width: 120px;
        height: 50px;
        float: left;
    };
    .box110 {
        width: 110px;
        height: 50px;
        float: left;
    };
    .box100 {
        width: 100px;
        height: 50px;
        float: left;
    };
    .box80 {
        width: 80px;
        height: 50px;
        float: left;
    };
    .box75 {
        width: 75px;
        height: 50px;
        float: left;
    };
    .box75s {
        width: 75px;
        height: 30px;
        float: left;
    };
    .box70 {
        width: 70px;
        height: 50px;
        float: left;
    };
    .box60 {
        width: 60px;
        height: 50px;
        float: left;
    };
    .box50 {
        width: 50px;
        height: 50px;
        float: left;
    };
    .lbox30 {
        width: 30px;
        height: 10px;
        float: left;
    };
    .input220 {
        width: 220px;
    };
    .input195 {
        width: 195px;
    };
    .input185 {
        width: 185px;
    };
    .input175 {
        width: 175px;
    };
    .input165 {
        width: 165px;
    };
    .input160 {
        width: 160px;
    };
    .input150 {
        width: 150px;
    };
    .input140 {
        width: 140px;
    };
    .input130 {
        width: 130px;
    };
    .input125 {
        width: 125px;
    };
    .input110 {
        width: 110px;
    };
    .input100 {
        width: 100px;
    };
    .input100c {
        width: 89px;
        text-align: center;
        float: left;
        margin-right: 15px;
    };
    .input100f {
        width: 245px;
        float: left;
    };
    .input95 {
        width: 95px;
    };
    .input70 {
        width: 70px;
    };
    .input70s {
        width: 195px;
        margin-left: 30px;
        margin-right: 75px;
        margin-bottom: 5px;
    };
    .input70a {
        width: 70px;
        margin-left: 12px;
        margin-right: 20px;
        margin-bottom: 5px;
        float: left;
    };
    .input60 {
        width: 60px;
    };
    .input60c {
        width: 60px;
        float: left;
    };
    .input50 {
        width: 50px;
    };
    .input40 {
        width: 40px;
    };
    .input30 {
        width: 30px;
    };
    .divider1 {
        width: 5px;
        height: 10px;
        float: left;
    };
    .adHelper1 {
        width: 350px;
        float: left;
        margin-right: 10px;
        margin-left: 5px;
        flex: none;
    };
    .adHelper2 {
        width: 80px;
        float: left;
    };
    .adHelper3 {
        width: 350px;
        float: left;
        margin-right: 10px;
        margin-left: 5px;
        flex: none;
        padding-left: 10px;
    };
    .adHelper4 {
        width: 315px;
        float: left;
        margin-left: 5px;
        flex: none;
        padding-left: 10px;
    };
    .adHelper5 {
        width: 80px;
        float: left;
        margin-right: 15px;
    };
    .afHelper1 {
        height: 68px;
    };
    .afHelper2 {
        width: 372px;
        height: 36px;
        font-size: 20px;
        margin-bottom: 4px;
    };
    .afHelper3 {
        float: left;
        width: 180px;
        flex: none;
        margin-right: 6px;
    };
    .afHelper4 {
        float: left;
        width: 180px;
        flex: none;
        margin-left: 6px;
    };
    .arHelper1 {
        width: 450px;
        height: 305px;
    };
    .arHelper2 {
        width: 450px;
        height: 50px;
    };
    .arHelper3 {
        width: 240px;
        height: 50px;
        float: left;
    };
    .arHelper4 {
        width: 230px;
    };
    .arHelper5 {
        width: 100px;
        height: 50px;
        float: left;
    };
    .arHelper6 {
        width: 90px;
    };
    .arHelper7 {
        width: 35px; 
        height: 50px; 
        float: left; 
        text-align: center;
    };
    .arHelper8 {
        width: 25px;
    };
    .arHelper9 {
        width: 75px; 
        height: 50px; 
        float: left; 
        text-align: center;
    };
    .arHelper10 {
        width: 65px;
    };
    .arHelper11 {
        width: 70px; 
        height: 50px; 
        float: left;
    };
    .arHelper12 {
        width: 60px;
    };
    .arHelper13 {
        width: 170px;
    };
    .arHelper14 {
        width: 450px; 
        height: 150px;
    };
    .arHelper15 {
        width: 450px;
        height: 135px;
    };
    .arHelper16 {
        width: 170px; 
        height: 50px; 
        float: left;
    };
    .arHelper17 {
        height: 75px;
    };
    .arHelper18 {
        width: 450px;
    };
    .arHelper19 {
        width: 137px;
        height: 60px;
        float: left;
    };
    .arHelper20 {
        width: 450px;
        height: 65px;
    };
    .arHelper21 {
        width: 450px;
        height: 35px;
    };
    .ctHelper1 {
        width: 450px;
        height: 36px;
        font-size: 20px;
        margin-bottom: 4px;
    };
    .laHelper1 {
        float: left;
        width: 305px;
        margin-left: 5px;
        margin-right: 5px;
    };
    .laHelper2 {
        float: left;
        width: 305px;
        margin-left: 5px;
    };
    .laHelper3 {
        float: left;
        width: 40px;
        margin-left: 20px;
        margin-right: 5px;
    };
    .laHelper4 {
        float: left; 
        width: 40px;
    };
    .mwHelper1 {
        width: 10px; 
        height: 10px;
    };
    .mwHelper2 {
        width: 75px; 
        float: left
    };
    .mwHelper3 {
        width: 100px; 
        height: 5px;
    };
    .mwHelper4 {
        width: 75px; 
        float: left;
        margin-top: 5px;
    };
    .mwHelper5 {
        width: 18px;
        height: 18px;
        margin-left: 34px;
        float: left;
    };
    .mwHelper6 {
        width: 20px;
        height: 20px;
        float: left;
        margin: 3px 9px;
    };
    .adBnt {
        margin-top: 20px;
        width: 145px;
        margin-left: 155px;
    };
    .ritHelper1 {
        float: left; 
        width: 400px; 
        height: 55px
    };
    .ritHelper2 {
        float: left; 
        width: 270px;
    };
    .ritHelper3 {
        float: left; 
        width: 150px;
    };
    .ritHelper4 {
        float: left;
        width: 250px;
    };
    .ritHelper5 {
        width: 99px; 
        margin-right: 10px;
    };
    .ritHelper6 {
        width: 49px; 
        margin-left: 10px;
    };
    .ritHelper7 {
        float: left; 
        width: 375px; 
        height: 55px
    };
    .ritHelper10 {
        width: 460px;
        height: 95px;
    };
    .ritHelper11 {
        width: 80px;
        margin-right: 10px;
    };
    .ritHelper12 {
        float: left;
        width: 35px;
        height: 15px;
    };
    .ritHelper13 {
        margin-right: 20px;
    };
    .ritHelper14 {
        float: left;
        width: 141px;
        margin-right: 13px;
    };
    .ritHelper15 {
        float: left;
        width: 141px;
    };
    .ritHelper16 {
        float: left;
        width: 153px;
    };
    .ritHelper17 {
        float: left;
        width: 140px;
    };
    .ritHelper18 {
        width: 110px;
        margin-bottom: 5px;
    };
    .ritHelper19 {
        width: 460px;
        height: 25px;
    };
    .sgHelper1 {
        float: left; 
        width: 350px; 
        margin-left: 5px; 
        margin-right: 5px;
    };
    .sgHelper2 {
        float: left; 
        width: 350px;
    };
    .sgHelper3 {
        float: left;
        width: 40px;
        margin-left: 5px;
        margin-right: 5px;
    };
    .sgHelper4 {
        float: left;
        width: 40px;
    };
    .spHelper1 {
        float: left; 
        width: 285px;
    };
    .spHelper2 {
        float: left; 
        width: 275px;
    };
    .spHelper3 {
        float: left; 
        width: 40px;
    };
    .spHelper4 {
        float: left; 
        width: 49px;
    };
    .spHelper5 {
        width: 80px; 
        margin-right: 10px;
    };
    .itemImg {
        height: 64px;
        width: 64px;
    };
    .labelspacer {
        margin-right: 10px;
    };
    .spellMenu {
        height: 22px;
        width: 90px;
        float: left;
        border: black solid 1px;
        padding-top: 1px;
        margin: 1px;
        margin-bottom: 0px;
        border-radius: 8px 8px 0px 0px;
        background-color: rgba(0, 0, 0, 0.08);
    };
    .spellMenu2 {
        height: 22px;
        width: 90px;
        float: left;
        border: black solid 1px;
        padding-top: 1px;
        margin: 1px;
        margin-bottom: 0px;
        border-radius: 8px 8px 0px 0px;
        background-color: rgba(0, 0, 0, 0.08);
        margin-left: 10px;
    };
    .spellMenuBox {
        height: 365px;
        width: 430px;
        margin-left: 10px;
        float: left;
        border: solid black 1px;
        padding: 10px;
        overflow-y: auto;
    };
    .spellName {
        float: left;
        margin-top: 5px;
        font-weight: bold;
    };
    .spell-tabs {
        display: contents;
    };
    .spellModiBox {
        width: 130px;
        float: left;
    };
    .spellLine {
        width: 300px;
        float: left;
        margin-top: 8px;
        margin-bottom: 8px;
        font-weight: bold;
    };
    .spellVName {
        float: left;
        width: 30px;
        margin-top: 4px;
        margin-right: 25px;
        margin-bottom: 5px;
    };
    .spellVLine {
        width: 125px;
        height: 30px;
    };
    .plusVariants {
        height: 26px;
        width: 408px;
        text-align: center;
        font-size: 19px;
        background-color: rgba(0,0,0,0.15);
        border: solid black 1px;
    };
    .variantbox {
        min-height: 70px;
        width: 408px;
        border: solid black 1px;
        padding: 5px;
        position: relative;
    };
    .buttonbox {
        position: absolute;
        top: 5px;
        right: 5px
    };
    .spellvari {
        margin-left: 5px;
    };
}

.spellvariInput {
    margin-left: 44px;
    margin-right: 4px;
};
.input130 {
    width: 130px;
};
.input95 {
    width: 95px;
};
.displayMod {
    display: contents;
};
.browserMenu {
    width: 200px;
    height: 450px;
    float: left;
    border-right-style: groove;
};
.browserContent {
    width: 580px;
    height: 450px;
    float: left;
    overflow-x: hidden;
};
.headline {
    width: 565px;
    height: 30px;
    float: left;
    background-color: rgba(0,0,0,0.08);
    border-style: groove;
    margin: 7px;
    padding-top: 3px;
    padding-left: 20px;
    font-size: 15px;
    font-weight: bold;
};
.itemBrowserBox {
    width: 575px;
    height: 36px;
    float: left;
    position: relative;
    padding-left: 9px;
};
.browserImgBox {
    width: 35px;
    height: 35px;
    float: left;
};
.browserImgBox2 {
    width: 35px;
    height: 35px;
    float: left;
    margin-top: 31px;
    margin-right: 5px;
};
.browserImgBox3 {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 24px;
    margin-right: 15px;
    margin-left: 10px;
};
.browserImg {
    border: 0px;
};
.browserName {
    width: 526px;
    height: 36px;
    float: left;
    border-bottom: groove;
    font-size: 14px;
    padding-left: 10px;
};
.browserComplex {
    width: 20px;
    height: 25px;
    top: 5px;
    right: 14px;
    border-left: groove;
    padding-left: 6px;
    font-size: 19px;
    position: absolute;
};
.browserMenuEntry {
    width: 185px;
    height: 30px;
    margin-left: 5px;
    margin-top: 6px;
    border-style: groove;
    float: left;
    background-color: rgba(0,0,0,0.08);
    padding-top: 4px;
    padding-left: 20px;
    font-size: 13px;
    font-weight: bold;
};
.browserMenuInput {
    width: 184px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
};
#menuSearch {
    width: 184px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
};
#menuVer {
    width: 12px;
    margin-top: 7px;
    margin-left: 11px;
    margin-right: 7px;
    float: left;
};
.spellVMenu {
    height: 30px;
    width: 16px;
    float: left;
    padding-top: 9px;
    padding-left: 5px;
};
.spellVSpacer {
    height: 30px;
    width: 22px;
    float: left;
    padding-top: 9px;
    padding-left: 5px;
};
.spellModiBox {
    width: 128px;
    float: left;
};
.spellModiBigBox {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 8px;
    height: 50px;
};
#mwHelper1 {
    width: 10px; 
    height: 10px;
};
.subhr {
    border: none;
    border-top: 1px solid #605f54;
    border-bottom: 1px solid #b5b5a1;
};
.submen {
    margin-left: 5px;
    margin-right: 5px;
};
.subMain {
    font-size: 20px;
    font-weight: bold;
};
.subSub {
    font-size: 16px;
};
.dialogFiller {
    width: 100%;
    height: 10px;
};
.disabeldtext {
    color: gray;
}
#inputCast {
    width: 30px;
    flex: none;
    text-align: center;
    margin-right: 5px;
};
#inboxCast {
    flex: none;
    margin-right: 8px;
};
.dialogConfig{
    color: black;
    font-family: MasonSerifBold;
    src: url('fonts/mason-serif-bold.otf') format('opentype');
}