.GDSA.sheet.characterSheet .sheet {
  width: 620px;
  height: 765px;
  font-family: MasonSerifBold;
}
.GDSA.sheet.characterSheet .editableValue {
  background-color: rgba(255, 255, 255, 0.45);
}
.GDSA.sheet.characterSheet .plusSym {
  font-size: 15px;
  padding-top: 3px;
}
.GDSA.sheet.characterSheet .faD20Stat {
  float: none;
}
.GDSA.sheet.characterSheet .nav {
  display: contents;
}
.GDSA.sheet.characterSheet .menuBar {
  width: 616px;
  height: 60px;
}
.GDSA.sheet.characterSheet .menuDivider {
  width: 160px;
  height: 60px;
  border: 2px solid black;
  float: left;
  text-align: center;
}
.GDSA.sheet.characterSheet .menuDividerHelper {
  width: 100%;
  height: 38px;
  float: left;
}
.GDSA.sheet.characterSheet .menuItem {
  width: 76px;
  height: 40px;
  border: 2px transparent;
  background: darkgoldenrod;
  float: left;
  text-align: center;
}
.GDSA.sheet.characterSheet .menuItemHelper {
  width: 100%;
  height: 10px;
  float: left;
}
.GDSA.sheet.characterSheet .menuItemBox {
  width: 228px;
  height: 60px;
  float: left;
}
.GDSA.sheet.characterSheet .menuItemBoxHelper {
  width: 100%;
  height: 20px;
  float: left;
}
.GDSA.sheet.characterSheet .filler {
  width: 616px;
  height: 15px;
}
.GDSA.sheet.characterSheet .fillerHead {
  width: 616px;
  height: 20px;
}
.GDSA.sheet.characterSheet .infoBox {
  width: 616px;
  height: 221px;
}
.GDSA.sheet.characterSheet .infoDivider {
  width: 10px;
  height: 221px;
  float: left;
}
.GDSA.sheet.characterSheet .imgBox {
  width: 177px;
  height: 221px;
  border: 2px solid black;
  float: left;
  text-align: center;
}
.GDSA.sheet.characterSheet .img {
  max-height: 100%;
  max-width: 100%;
}
.GDSA.sheet.characterSheet .factBox {
  width: 429px;
  height: 221px;
  border: 2px solid black;
  float: left;
  text-align: center;
  padding-top: 5px;
}
.GDSA.sheet.characterSheet .factType {
  width: 132px;
  float: left;
  text-align: left;
  padding-left: 18px;
}
.GDSA.sheet.characterSheet .factValue {
  width: 290px;
  float: left;
  text-align: left;
}
.GDSA.sheet.characterSheet .factDivider {
  margin-top: 2px;
  margin-bottom: 3px;
}
.GDSA.sheet.characterSheet .flawhead {
  width: 275px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  float: left;
}
.GDSA.sheet.characterSheet .flawbnt {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 20px;
  float: left;
}
.GDSA.sheet.characterSheet .flaw {
  width: 295px;
  height: 20px;
  text-align: left;
  padding-left: 10px;
}
.GDSA.sheet.characterSheet .flawhr {
  margin-top: 2px;
  margin-bottom: 2px;
}
.GDSA.sheet.characterSheet .flawhrbox {
  width: 300px;
  float: left;
}
.GDSA.sheet.characterSheet .flawBox {
  width: 303px;
  height: 196px;
  border: 2px solid black;
  float: left;
  text-align: center;
}
.GDSA.sheet.characterSheet .flawDivider {
  width: 10px;
  height: 196px;
  float: left;
}
.GDSA.sheet.characterSheet .advantages {
  float: left;
  overflow-y: scroll;
  height: 165px;
}
.GDSA.sheet.characterSheet .valueBox {
  width: 616px;
  height: 200px;
}
.GDSA.sheet.characterSheet .valueBox1 {
  width: 262px;
  height: 200px;
  border: 1px solid black;
  float: left;
  text-align: center;
}
.GDSA.sheet.characterSheet .valueBox2 {
  width: 342px;
  height: 200px;
  border: 1px solid black;
  float: left;
  text-align: center;
}
.GDSA.sheet.characterSheet .smallValueBox {
  width: 40px;
  height: 20px;
  float: left;
  text-align: center;
  border: 1px solid black;
}
.GDSA.sheet.characterSheet .bigValueBox {
  width: 140px;
  height: 20px;
  float: left;
  text-align: left;
  border: 1px solid black;
  padding-left: 12px;
}
.GDSA.sheet.characterSheet .valueHead {
  font-size: 0.7rem;
  padding-top: 2px;
}
.GDSA.sheet.characterSheet .valueDivider {
  width: 12px;
  height: 200px;
  float: left;
  text-align: center;
}
.GDSA.sheet.characterSheet .footer {
  width: 616px;
  height: 20px;
  border: 2px solid black;
  float: left;
  text-align: center;
}
.GDSA.sheet.characterSheet .footerBox {
  width: 616px;
  height: 20px;
}
.GDSA.sheet.characterSheet .footerSmall {
  width: 100px;
  height: 20px;
  float: left;
  text-align: center;
}
.GDSA.sheet.characterSheet .footerBig {
  width: 102px;
  height: 20px;
  float: left;
  text-align: center;
}
.GDSA.sheet.characterSheet .footerFirst {
  width: 100px;
  height: 20px;
  float: left;
  text-align: left;
  padding-left: 10px;
}
.GDSA.sheet.characterSheet .gmBox {
  float: left;
  height: 686px;
  width: 100%;
}
.GDSA.sheet.characterSheet .gmTableHelper {
  width: 220px;
}
.GDSA.sheet.characterSheet .gmInput {
  width: 395px;
}
.GDSA.sheet.characterSheet .statTemp {
  border: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
.GDSA.chat.message .flawBox {
  height: 132px;
}
.GDSA.chat.message .statModBoxAdd {
  height: 157px;
}
.GDSA.chat.message .flawName {
  height: 29px;
  width: 100%;
  float: left;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-family: MasonSerifBold;
  text-align: center;
  padding-top: 2px;
}
.GDSA.chat.message .dicefiller {
  float: left;
  height: 10px;
  width: 100%;
}
.GDSA.chat.message .diceCol {
  float: left;
  height: 60px;
  width: 100%;
}
.GDSA.chat.message .dices {
  height: 60px;
  width: 120px;
  margin: auto;
}
.GDSA.chat.message .dice {
  background-image: url(templates/img/dice.png);
  background-size: contain;
  height: 60px;
  width: 60px;
  color: white;
  text-align: center;
  padding-top: 23px;
  float: left;
}
.GDSA.chat.message .diefiller {
  width: 30px;
  height: 60px;
  float: left;
}
.GDSA.chat.message .dice-formula {
  float: left;
  width: 100%;
}
.GDSA.chat.message .rollFlawSuccess {
  float: left;
  background-color: green;
  width: 100%;
  height: 22px;
  font-size: 18px;
  text-align: center;
  color: white;
}
.GDSA.chat.message .rollFlawFail {
  float: left;
  background-color: darkred;
  width: 100%;
  height: 22px;
  font-size: 18px;
  text-align: center;
  color: white;
}
.GDSA.chat.message .rollStatMod {
  height: 22px;
  float: left;
  width: 100%;
  font-size: 18px;
  text-align: center;
  background-color: goldenrod;
}
