<section>
    <div class="menuItemBox">
		<div class="menuItemBoxHelper"></div><br />
		<div class="menuItem">
			<div class="menuItemHelper"></div><br />
			Charakter
	    </div>
	    <div class="menuItem">
	   		<div class="menuItemHelper"></div><br />
			Talente
  		</div>
	    <div class="menuItem">
		    <div class="menuItemHelper"></div><br />
		    Kampf
	    </div>
    </div>
    <div class="menuDivider">
	    <div class="menuDividerHelper"></div><br />
	    <b>Das schwarze Auge</b>
    </div>
    <div class="menuItemBox">
	    <div class="menuItemBoxHelper"></div><br />
	    <div class="menuItem">
		    <div class="menuItemHelper"></div><br />
		    Magie
	    </div>
	    <div class="menuItem">
		    <div class="menuItemHelper"></div><br />
		    Karmal
	    </div>
	    <div class="menuItem">
		    <div class="menuItemHelper"></div><br />
		    Inventar
	    </div>
    </div>
</section>