<section>
    <div class="valueBox2">
    	<div class="bigValueBox"></div>
   		<div class="smallValueBox valueHead">Max</div>
 		<div class="smallValueBox valueHead">Wert</div>
		<div class="smallValueBox valueHead">Mod</div>
		<div class="smallValueBox"></div>
		<div class="smallValueBox"></div><br />
		<div class="bigValueBox">Lebenspunkte</div>
	    <div class="smallValueBox">36</div>
    	<div class="smallValueBox">36</div>
   		<div class="smallValueBox editableValue">0</div>
  		<div class="smallValueBox">+</div>
	    <div class="smallValueBox">-</div><br />
	   	<div class="bigValueBox">Ausdauer</div>
	 	<div class="smallValueBox">36</div>
		<div class="smallValueBox">36</div>
		<div class="smallValueBox editableValue">0</div>
    	<div class="smallValueBox">+</div>
        <div class="smallValueBox">-</div><br />
    	<div class="bigValueBox">Astralenergie</div>
	    <div class="smallValueBox">36</div>
		<div class="smallValueBox">36</div>
		<div class="smallValueBox editableValue">0</div>
	    <div class="smallValueBox">+</div>
    	<div class="smallValueBox">-</div><br />
		<div class="bigValueBox">Karmaenergie</div>
		<div class="smallValueBox">36</div>
	    <div class="smallValueBox">36</div>
    	<div class="smallValueBox editableValue">0</div>
		<div class="smallValueBox"></div>
		<div class="smallValueBox"></div><br />
		<div class="bigValueBox">Magieresistenz</div>
		<div class="smallValueBox"></div>
		<div class="smallValueBox">8</div>
		<div class="smallValueBox editableValue">0</div>
		<div class="smallValueBox"></div>
		<div class="smallValueBox"></div><br />
		<div class="bigValueBox">INI-Basis</div>
		<div class="smallValueBox"></div>
		<div class="smallValueBox">12</div>
		<div class="smallValueBox editableValue">0</div>
		<div class="smallValueBox"></div>
		<div class="smallValueBox"></div><br />
		<div class="bigValueBox">AT-Basis</div>
		<div class="smallValueBox"></div>
		<div class="smallValueBox">8</div>
		<div class="smallValueBox editableValue">0</div>
		<div class="smallValueBox"></div>
		<div class="smallValueBox"></div><br />
		<div class="bigValueBox">PA-Basis</div>
		<div class="smallValueBox"></div>
		<div class="smallValueBox">8</div>
		<div class="smallValueBox editableValue">0</div>
		<div class="smallValueBox"></div>
		<div class="smallValueBox"></div><br />
		<div class="bigValueBox">FK-Basis</div>
		<div class="smallValueBox"></div>
		<div class="smallValueBox">8</div>
		<div class="smallValueBox editableValue">0</div>
		<div class="smallValueBox"></div>
	    <div class="smallValueBox"></div>
	</div>
</section>