<tr class="item-context" data-item-id="{{_id}}">
    <td class="skillTableNameBig">{{name}}</td>
    <td class="skillTableValue"><input class="skillTemp" type="number" value="{{data.value}}" /></td>
</tr>