<form class="dialogConfig">
    <div class="form-group subMain">
        <div class="submen"><hr class="subhr" /></div>{{name}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.spell.faxius"}}</label>
    </div>
    <div class="form-group">
        <select class="mediOpt" class="spHelper5" name="dice">
            {{#each system.dices as |name type|}}
                    <option value="{{@index}}">{{name}}</option>
            {{/each}}
        </select>
    </div>
    
    <div class="dialogFiller"></div>
    
</form>