<form>
    <label>{{localize "GDSA.chat.dialog.reg"}}</label>
    <div class="form-group">
        <label>LeP</label>
        <input type="number" name="reglep" value="0" />
    </div>
    <div class="form-group">
        <label>AsP</label>
        <input type="number" name="regasp" value="0" />
    </div>
    <div class="form-group">
        <label>KaP</label>
        <input type="number" name="regkap" value="0" />
    </div>
</form>