<div class="GDSA chat message">
    <div class="infoBox">
        {{#if dmg}}
            {{actor.name}} hat <i class="fas fa-tint faD20Stat"></i> {{value}} Schaden erhalten!
        {{/if}}
        {{#if heal}}
            {{actor.name}} ist um <i class="fas fa-cross faD20Stat"></i> {{value}} Leben geheilt worden!
        {{/if}}
    </div>
</div>