<div class="GDSA chat message">
    <div class="infoBox">
        {{#if dmg}}
            {{actor.name}} hat <i class="fas fa-sun faD20Stat"></i> {{value}} Karmalpunkte verbraucht!
        {{/if}}
        {{#if heal}}
            {{actor.name}} hat <i class="fas fa-sun faD20Stat"></i> {{value}} Karmalpunkte zurückerhalten!
        {{/if}}
    </div>
</div>