<div>
    <div class="heldenHeadline">{{localize "GDSA.system.importer"}}</div>

    <div class="heldenImporterHead">
        <div class="heldenImportHelper2">{{localize "GDSA.system.import"}}</div>
        <input class="heldenImportHelper3" type="file" id="Heldenimport" />
    </div>

    <div class="heldenImportHelper6">
        <div class="heldenImportHelper7" id="overview1"></div>
        <div class="heldenImportHelper7" id="overview2"></div>
    </div>

    <div class="heldenFiller"></div>

    <div class="heldenImportHelper5">
        <button id="bnt1" class="heldenImportHelper4" type="button">{{localize "GDSA.system.create"}}</button>
        <button class="heldenImportHelper4"  type="button">{{localize "GDSA.system.abort"}}</button>
    </div>
</div>