<div id="content" class="{{cssClass}}" autocomplete="off">
    <div class="sheet">

			<div class="menuBar" {{#if system.hideMenu}}style="display: none"{{/if}}>
				{{> "systems/gdsa/templates/partials/character-sheet-menu.hbs"}}
			</div>

	    <div class="fillerHead"></div>

		<section class="sheet-body">

			<div id="mainPage" class="tab mainPage primary" data-group="primary" data-tab="mainPage">
				{{> "systems/gdsa/templates/partials/character-sheet-mainPage.hbs"}}
			</div>

			<div id="skillPage" class="tab skillPage primary" data-group="primary" data-tab="skillPage">
				{{> "systems/gdsa/templates/partials/character-sheet-skillPage.hbs"}}
			</div>

			<div id="combatePage" class="tab combatePage primary" data-group="primary" data-tab="combatePage">
				{{> "systems/gdsa/templates/partials/character-sheet-combatPage.hbs"}}
			</div>

			<div id="gmPage" class="tab gmPage primary" data-group="primary" data-tab="gmPage">
				{{> "systems/gdsa/templates/partials/character-sheet-gmPage.hbs"}}
			</div>

			<div id="magicPage" class="tab magicPage primary" data-group="primary" data-tab="magicPage">
				{{> "systems/gdsa/templates/partials/character-sheet-magicPage.hbs"}}
			</div>

			<div id="holyPage" class="tab holyPage primary" data-group="primary" data-tab="holyPage">
				{{> "systems/gdsa/templates/partials/character-sheet-holyPage.hbs"}}
			</div>

			<div id="itemPage" class="tab itemPage primary" data-group="primary" data-tab="itemPage">
				{{> "systems/gdsa/templates/partials/character-sheet-itemPage.hbs"}}
			</div>

			<div id="characterEffects" class="tab characterEffects primary" data-group="primary" data-tab="characterEffects">
				{{> "systems/gdsa/templates/partials/character-sheet-effectPage.hbs"}}
			</div>

			<div id="traitPage" class="tab traitPage primary" data-group="primary" data-tab="traitPage">
				{{> "systems/gdsa/templates/partials/character-sheet-traitPage.hbs"}}
			</div>

			<div id="generaltraitPage" class="tab traitPage primary" data-group="primary" data-tab="generaltraitPage">
				{{> "systems/gdsa/templates/partials/character-sheet-generaltraitPage.hbs"}}
			</div>

			<div id="combattraitPage" class="tab traitPage primary" data-group="primary" data-tab="combattraitPage">
				{{> "systems/gdsa/templates/partials/character-sheet-combattraitPage.hbs"}}
			</div>

			<div id="magictraitPage" class="tab traitPage primary" data-group="primary" data-tab="magictraitPage">
				{{> "systems/gdsa/templates/partials/character-sheet-magictraitPage.hbs"}}
			</div>

			<div id="objecttraitPage" class="tab traitPage primary" data-group="primary" data-tab="objecttraitPage">
				{{> "systems/gdsa/templates/partials/character-sheet-objecttraitPage.hbs"}}
			</div>

			<div id="holytraitPage" class="tab traitPage primary" data-group="primary" data-tab="holytraitPage">
				{{> "systems/gdsa/templates/partials/character-sheet-holytraitPage.hbs"}}
			</div>

			<div id="characterView" class="tab traitPage primary" data-group="primary" data-tab="characterView">
				{{> "systems/gdsa/templates/partials/charakter-sheet-view.hbs"}}
			</div>
			
		</section>
    </div>
</div>