<form class="{{cssClass}}" autocomplete="off">
    <div class="sheet">

	    <div class="menuBar">
			{{> "systems/GDSA/templates/partials/character-sheet-menu.hbs"}}
	    </div>

	    <div class="fillerHead"></div>

		<section class="sheet-body">

			<div class="tab mainPage" data-group="primary" data-tab="mainPage">
				{{> "systems/GDSA/templates/partials/character-sheet-mainPage.hbs"}}
			</div>

			<div class="tab skillPage" data-group="primary" data-tab="skillPage">
				{{> "systems/GDSA/templates/partials/character-sheet-skillPage.hbs"}}
			</div>

			<div class="tab combatePage" data-group="primary" data-tab="combatePage">
				{{> "systems/GDSA/templates/partials/character-sheet-combatPage.hbs"}}
			</div>

			<div class="tab gmPage" data-group="primary" data-tab="gmPage">
				{{> "systems/GDSA/templates/partials/character-sheet-gmPage.hbs"}}
			</div>

			<div class="tab magicPage" data-group="primary" data-tab="magicPage">
				{{> "systems/GDSA/templates/partials/character-sheet-magicPage.hbs"}}
			</div>

			<div class="tab holyPage" data-group="primary" data-tab="holyPage">
				{{> "systems/GDSA/templates/partials/character-sheet-holyPage.hbs"}}
			</div>

			<div class="tab itemPage" data-group="primary" data-tab="itemPage">
				{{> "systems/GDSA/templates/partials/character-sheet-itemPage.hbs"}}
			</div>
		</section>
    </div>
</form>