<form class="{{cssClass}}" autocomplete="off">
    <div class="sheet">

			<div class="menuBar" {{#if system.hideMenu}}style="display: none"{{/if}}>
				{{> "systems/gdsa/templates/partials/character-sheet-menu.hbs"}}
			</div>

	    <div class="fillerHead"></div>

		<section class="sheet-body">

			<div class="tab mainPage" data-group="primary" data-tab="mainPage">
				{{> "systems/gdsa/templates/partials/character-sheet-mainPage.hbs"}}
			</div>

			<div class="tab skillPage" data-group="primary" data-tab="skillPage">
				{{> "systems/gdsa/templates/partials/character-sheet-skillPage.hbs"}}
			</div>

			<div class="tab combatePage" data-group="primary" data-tab="combatePage">
				{{> "systems/gdsa/templates/partials/character-sheet-combatPage.hbs"}}
			</div>

			<div class="tab gmPage" data-group="primary" data-tab="gmPage">
				{{> "systems/gdsa/templates/partials/character-sheet-gmPage.hbs"}}
			</div>

			<div class="tab magicPage" data-group="primary" data-tab="magicPage">
				{{> "systems/gdsa/templates/partials/character-sheet-magicPage.hbs"}}
			</div>

			<div class="tab holyPage" data-group="primary" data-tab="holyPage">
				{{> "systems/gdsa/templates/partials/character-sheet-holyPage.hbs"}}
			</div>

			<div class="tab itemPage" data-group="primary" data-tab="itemPage">
				{{> "systems/gdsa/templates/partials/character-sheet-itemPage.hbs"}}
			</div>

			<div class="tab characterEffects" data-group="primary" data-tab="characterEffects">
				{{> "systems/gdsa/templates/partials/character-sheet-effectPage.hbs"}}
			</div>

			<div class="tab traitPage" data-group="primary" data-tab="traitPage">
				{{> "systems/gdsa/templates/partials/character-sheet-traitPage.hbs"}}
			</div>

			<div class="tab traitPage" data-group="primary" data-tab="generaltraitPage">
				{{> "systems/gdsa/templates/partials/character-sheet-generaltraitPage.hbs"}}
			</div>

			<div class="tab traitPage" data-group="primary" data-tab="combattraitPage">
				{{> "systems/gdsa/templates/partials/character-sheet-combattraitPage.hbs"}}
			</div>

			<div class="tab traitPage" data-group="primary" data-tab="magictraitPage">
				{{> "systems/gdsa/templates/partials/character-sheet-magictraitPage.hbs"}}
			</div>

			<div class="tab traitPage" data-group="primary" data-tab="objecttraitPage">
				{{> "systems/gdsa/templates/partials/character-sheet-objecttraitPage.hbs"}}
			</div>

			<div class="tab traitPage" data-group="primary" data-tab="holytraitPage">
				{{> "systems/gdsa/templates/partials/character-sheet-holytraitPage.hbs"}}
			</div>

			<div class="tab traitPage" data-group="primary" data-tab="characterView">
				{{> "systems/gdsa/templates/sheets/charakter-view.hbs"}}
			</div>
			
		</section>
    </div>
</form>