<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div style="float: left; width: 373px;"><input name="name" type="text" value="{{item.name}}" style="float: left; width: 375px;" /></div>
        <div style="float: left; width: 80px;"><input name="data.value" type="number" value="{{data.value}}" style="float: left; width: 80px;" /></div>
    </header>
</form>