<form class="{{cssClass}}" autocomplete="off">
        <div style="float: left; width: 350px; margin-left: 5px; margin-right: 5px;"><input name="name" type="text" value="{{item.name}}" style="float: left; width: 350px;" /></div>
        <div style="float: left; width: 40px; margin-left: 5px; margin-right: 5px;"><input name="data.value" type="number" value="{{data.value}}" style="float: left; width: 40px;" /></div>
        <div style="float: left; width: 40px; margin-left: 5px; margin-right: 5px;"><input name="data.komp" type="number" value="{{data.komp}}" style="float: left; width: 40px;" /></div>
</form>