<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header">
        <input class="ctHelper1" name="name" type="text" value="{{item.name}}" />
    </header>

    <button class="adBnt item-close invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.closeLabel"}}</button>
    
</form>