<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div style="float: left; width: 400px; height: 55px">
            <div style="float: left; width: 370px;">Name</div><div style="float: left; width: 40px;">Grad</div>
            <div style="float: left; width: 370px;"><input name="name" type="text" value="{{item.name}}" style="float: left; width: 350px;" /></div>
            <div style="float: left; width: 60px;"><input name="data.grad" type="text" value="{{data.grad}}" style="float: left; width: 60px;" /></div>
        </div>
    </header>

    PDF<input name="data.lltPage" type="text" value="{{data.lltPage}}" style="width: 60px; margin-left: 10px;" />
</form>