<div class="GDSA chat message skill">
    <div class="chathrBox"><hr class="chathr" /></div>
    <div class="chatheadline">{{localize "GDSA.chat.dialog.rangeGoof"}}</div>
    <div class="chathrBox"><hr class="chathrBold" /></div>

    <div id="collapsable">
        <div class="infoMainBox">
            <div class="infoDiceBox2">
                <div class="infoDices">{{roll1}}</div>
                <div class="infoDices">{{roll2}}</div>
            </div>
        </div>
    </div>
    
    <div class="dice-formula">
        <div class="rollSkillInfo">{{goofed}}<span id="additionalInfo"></span></div>
    </div>  
</div>