<div class="GDSA chat message skill">

    <div class="chathrBox"><hr class="chathr" /></div>
    <div class="chatheadline">{{localize "GDSA.combat.Ini"}}</div>
    <div class="chathrBox"><hr class="chathrBold" /></div>

    <div id="collapsable">
        <div class="infoMainBox">
            <div class="infoDiceBox2">
                {{#unless (equals roll.dice.[0].values.[1] null)}}<div class="diefiller"></div>{{/unless}}
                {{#each roll.dice.[0].values}}
                    <div class="infoDices2">{{this}}</div>
                {{/each}}
            </div>
        </div>
    </div>
    
    <div class="dice-formula">
        <div class="rollSkillSuccess">{{localize "GDSA.combat.IniOf"}}{{roll.total}}<span id="additionalInfo"></span></div>
    </div>  
</div>
