<div class="GDSA chat message">
    <div class="infoBox1">
        <span class="noteName">{{name}}</span>
        <hr class="subhr" />
        <div id="collapsable">
            {{value}}
        </div>
        <span id="additionalInfo"></span>
    </div>
</div>