<div class="GDSA chat message skill">
    <div class="chathrBox"><hr class="chathr" /></div>
    <div class="chatInfoMessage">
        {{actor.name}} {{localize "GDSA.chat.dialog.hasOri1"}}<br />{{localize "GDSA.chat.dialog.hasOri2"}} {{value}}!
    </div>
</div>